<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px" />

# Excel Madness Lab!

_Author:_ Tim Book

## Our Mission
We work for a large supermarket chain, with stores in 10 major cities that happen to coincide with General Assembly campuses. However, this company's idea of a "database" is just a bunch of Excel spreadsheets! In order to analyze our data, we're going to need to process the existing data into a form we can use. **Our end goal is to have one csv per city.**

## Cleanup Duty!
It is a hard truth that data scientists spend a large majority of their time cleaning data. Data never arrives on our desks in exactly the format in which we want it, and it's up to us to transform it to a workable format.

Being good cleaning, moving, and reshaping data is in itself a valuable and employable job skill. If you follow these directions exactly, we will walk through constructing an automated process for processing data from this supermarket chain.

# Part I: Processing

### Step 1: Imports and the `os` library
We're going to import three libraries: numpy, pandas, and `os`.

In [1]:
# Import libraries here.
import numpy as np
import pandas as pd
import os

The `os` library is extremely useful for performing system commands from within Python. Let's get two pieces of overhead out of the way now:

1. Create an `output` folder using `os.mkdir()`
2. Create a variable called `files` that is the list of files in the `data` folder using `os.listdir()`

**WARNING:** The `os.mkdir()` function will give you an error if you try to make a folder that already exists!

In [2]:
# Create an output folder.
os.mkdir('output')
# Create a files variable that contains all of our data files.
files = os.listdir('data')

In [3]:
files

['Jan 23.xlsx',
 'Jan 19.xlsx',
 'Jan 15.xlsx',
 'Jan 7.xlsx',
 'Jan 6.xlsx',
 'Jan 14.xlsx',
 'Jan 18.xlsx',
 'Jan 22.xlsx',
 'Jan 29.xlsx',
 'Jan 13.xlsx',
 'Jan 1.xlsx',
 'Jan 25.xlsx',
 'Jan 24.xlsx',
 'Jan 12.xlsx',
 'Jan 28.xlsx',
 'Jan 3.xlsx',
 'Jan 11.xlsx',
 'Jan 27.xlsx',
 'Jan 31.xlsx',
 'Jan 30.xlsx',
 'Jan 26.xlsx',
 'Jan 10.xlsx',
 'Jan 2.xlsx',
 'Jan 9.xlsx',
 'Jan 21.xlsx',
 'Jan 5.xlsx',
 'Jan 17.xlsx',
 'Jan 16.xlsx',
 'Jan 4.xlsx',
 'Jan 20.xlsx',
 'Jan 8.xlsx']

### Step 2: Process one data frame
It looks like we have data for the month of January. 31 files of 10 sheets each! Luckily they are all in the same format. So let's read just one in and process that. It might be helpful to open one up in your spreadsheet viewer of choice first (Excel, Numbers, Sheets, etc.)

In [4]:
# Read in data from your city from January 1st.
#read excel file not csv
jan_1 = pd.read_excel("data/Jan 1.xlsx", sheet_name='New York')
jan_1

     prodcode  price_eu  weight_kg  quantity
0        4159  2.048141   8.812961       138
1        4062  2.728485   9.331372       184
2        4404  2.182498   8.937798       491
3        4412  2.342694   7.067682       218
4        4131  1.802839   9.551503       391
..        ...       ...        ...       ...
124      4796  1.827676   7.922745       444
125      4225  2.463229   5.839095       258
126      4134  0.920152   9.225959       395
127      3302  1.510998   2.667668       168
128      4309  1.678941   3.539966       282

[129 rows x 4 columns]

### Step 2a: Convert to 'Merican columns
For whatever reason, our data are stored in euros and kilograms. Create `price_usd` and `weight_lb` columns. There are 2.2 pounds per kilogram, and 1.1 dollars per euro.

In [5]:
#variables with column calculations
price_usd = jan_1['price_eu'] * 2.2
weight_lb = jan_1['weight_kg'] *1.1

#columns to dataframe
jan_1['price_usd']=jan_1['price_eu'] * 2.2
jan_1['weight_lb']=jan_1['weight_kg'] *1.1

In [6]:
jan_1

     prodcode  price_eu  weight_kg  quantity  price_usd  weight_lb
0        4159  2.048141   8.812961       138   4.505911   9.694257
1        4062  2.728485   9.331372       184   6.002668  10.264509
2        4404  2.182498   8.937798       491   4.801495   9.831578
3        4412  2.342694   7.067682       218   5.153928   7.774450
4        4131  1.802839   9.551503       391   3.966246  10.506653
..        ...       ...        ...       ...        ...        ...
124      4796  1.827676   7.922745       444   4.020887   8.715020
125      4225  2.463229   5.839095       258   5.419104   6.423004
126      4134  0.920152   9.225959       395   2.024334  10.148555
127      3302  1.510998   2.667668       168   3.324195   2.934435
128      4309  1.678941   3.539966       282   3.693670   3.893962

[129 rows x 6 columns]

### Step 2b: Merge in product names
You'll notice we also have a `plu-codes.csv` file containing actual product names matched up against their price lookup (PLU) codes. Let's merge these product names onto our Jan 1 data.
* _Hint 1:_ What kind of merge is this? Right, left, inner, outer, etc.?
* _Hint 2:_ Pay special attention to column names!

In [7]:
plu = pd.read_csv("plu-codes.csv")
plu

         product  plu_code
0   Apple (Fuji)      4131
1   Apple (Gala)      4134
2        Apricot      3302
3        Avocado      4225
4         Banana      4011
5    Blueberries      4240
6   Strawberries      4323
7           Corn      4078
8       Cucumber      4062
9       Eggplant      4081
10        Grapes      4272
11          Kiwi      4030
12         Lemon      4958
13        Lychee      4309
14      Mushroom      4650
15         Onion      4159
16        Orange      4012
17         Peach      4404
18          Pear      4412
19        Tomato      4796

In [8]:
#renaming plu column to match prodcode column to merge database
plu.rename(columns={'plu_code':'prodcode'},inplace= True)
plu

         product  prodcode
0   Apple (Fuji)      4131
1   Apple (Gala)      4134
2        Apricot      3302
3        Avocado      4225
4         Banana      4011
5    Blueberries      4240
6   Strawberries      4323
7           Corn      4078
8       Cucumber      4062
9       Eggplant      4081
10        Grapes      4272
11          Kiwi      4030
12         Lemon      4958
13        Lychee      4309
14      Mushroom      4650
15         Onion      4159
16        Orange      4012
17         Peach      4404
18          Pear      4412
19        Tomato      4796

In [9]:
#merge matching plu_code with prodcode
jan_1 = pd.merge(jan_1,plu, how = 'left')
jan_1

,prodcode,price_eu,weight_kg,quantity,price_usd,weight_lb,product
0,4159,2.048141,8.812961,138,4.505911,9.694257,Onion
1,4062,2.728485,9.331372,184,6.002668,10.264509,Cucumber
2,4404,2.182498,8.937798,491,4.801495,9.831578,Peach
3,4412,2.342694,7.067682,218,5.153928,7.774450,Pear
4,4131,1.802839,9.551503,391,3.966246,10.506653,Apple (Fuji)
...,...,...,...,...,...,...,...
124,4796,1.827676,7.922745,444,4.020887,8.715020,Tomato
125,4225,2.463229,5.839095,258,5.419104,6.423004,Avocado
126,4134,0.920152,9.225959,395,2.024334,10.148555,Apple (Gala)
127,3302,1.510998,2.667668,168,3.324195,2.934435,Apricot
128,4309,1.678941,3.539966,282,3.693670,3.893962,Lychee

### Step 2c: Drop unnecessary columns
We've created some extraneous columns. Drop the old price and weight columns, as well as any redundant columns.

In [10]:
#drop price_eu and weight_kg columns
jan_1.drop('price_eu', axis = 1,inplace=True)
jan_1.drop('weight_kg', axis = 1,inplace=True)

In [11]:
jan_1

     prodcode  quantity  price_usd  weight_lb       product
0        4159       138   4.505911   9.694257         Onion
1        4062       184   6.002668  10.264509      Cucumber
2        4404       491   4.801495   9.831578         Peach
3        4412       218   5.153928   7.774450          Pear
4        4131       391   3.966246  10.506653  Apple (Fuji)
..        ...       ...        ...        ...           ...
124      4796       444   4.020887   8.715020        Tomato
125      4225       258   5.419104   6.423004       Avocado
126      4134       395   2.024334  10.148555  Apple (Gala)
127      3302       168   3.324195   2.934435       Apricot
128      4309       282   3.693670   3.893962        Lychee

[129 rows x 5 columns]

### Step 2d: Add the date
Simply create a new `date` column that is the date this data was collected. For example, if this is from `Jan 1.xlsx`, this column should be full of `Jan 1`.

In [12]:
#date column match date title
jan_1['date']= 'Jan 1'

In [13]:
jan_1

     prodcode  quantity  price_usd  weight_lb       product   date
0        4159       138   4.505911   9.694257         Onion  Jan 1
1        4062       184   6.002668  10.264509      Cucumber  Jan 1
2        4404       491   4.801495   9.831578         Peach  Jan 1
3        4412       218   5.153928   7.774450          Pear  Jan 1
4        4131       391   3.966246  10.506653  Apple (Fuji)  Jan 1
..        ...       ...        ...        ...           ...    ...
124      4796       444   4.020887   8.715020        Tomato  Jan 1
125      4225       258   5.419104   6.423004       Avocado  Jan 1
126      4134       395   2.024334  10.148555  Apple (Gala)  Jan 1
127      3302       168   3.324195   2.934435       Apricot  Jan 1
128      4309       282   3.693670   3.893962        Lychee  Jan 1

[129 rows x 6 columns]

### Step 3: Write a function that conducts all of Step 2
This function should import a **filename and a city name** and return a fully processed DataFrame. That is, the function should:
1. Read in the data from the given file and city.
1. Create USD and pound columns.
1. Merge in product names.
1. Drop unnecessary columns.
1. Add a date column

In [14]:
#join file name to path testing
def read_data(file, city):
    df = pd.read_excel(os.path.join('data/',file),sheet_name=city)
    return df

In [15]:
read_data('Jan 2.xlsx','Boston')

     prodcode  price_eu  weight_kg  quantity
0        4030  1.794595   7.408185       109
1        4796  2.465679   4.732620       329
2        4309  2.364612   2.334260       202
3        4062  2.675838   5.775537       377
4        4062  2.544090   7.213688       181
..        ...       ...        ...       ...
141      4159  0.658926   9.097841       236
142      3302  0.930788   3.683782       307
143      4240  2.595530   5.877564       498
144      3302  0.663172   6.044196       265
145      4650  2.908118   8.439885       262

[146 rows x 4 columns]

In [16]:
def process_data(file, city):
    #file and city input to read file and sheet
    df = pd.read_excel(os.path.join('data/',file),sheet_name=city)
    df['price_usd']=df['price_eu'] * 2.2 #add and merge price_usd and weight_lb
    df['weight_lb']=df['weight_kg'] *1.1
    df = pd.merge(df,plu, how = 'left') #merge prodcodes on left
    df.drop('price_eu', axis = 1,inplace=True) #drop price_eu and weight_kg columns
    df.drop('weight_kg', axis = 1,inplace=True)
    df['date']= file.strip('.xlsx') #add date column matching file name ex. 'Jan 1'
    file = df
    return file

Test your function out on a new file and city!

In [17]:
process_data('Jan 1.xlsx','Boston')

     prodcode  quantity  price_usd  weight_lb       product   date
0        4134       498   4.306668   8.643655  Apple (Gala)  Jan 1
1        4012       384   2.007642   6.321210        Orange  Jan 1
2        4323       431   1.629656   9.623795  Strawberries  Jan 1
3        4078       457   3.457372   7.768194          Corn  Jan 1
4        4323       316   3.056689   1.229106  Strawberries  Jan 1
..        ...       ...        ...        ...           ...    ...
172      4131       309   1.728398   3.500325  Apple (Fuji)  Jan 1
173      4958       144   3.892256   1.851022         Lemon  Jan 1
174      4272       455   4.114178   4.973821        Grapes  Jan 1
175      3302       482   1.873554   1.229771       Apricot  Jan 1
176      4240       116   2.033730   9.688245   Blueberries  Jan 1

[177 rows x 6 columns]

### Step 4: Process all of January's data
For each spreadsheet, process the data and store the resulting DataFrame in one big list. **You only need to do this for your city!**

* _Hint 1:_ A listcomp would make this whole step one line of code!
* _Hint 2:_ You've already made that `files` variable to help you here.

In [18]:
#list comprehension with Boston column for month of January
df_boston = [process_data(filename,'Boston') for filename in files]

In [19]:
df_boston

[     prodcode  quantity  price_usd  weight_lb      product    date
 0        4225       271   2.647907   5.429557      Avocado  Jan 23
 1        4796       264   2.997572   3.141161       Tomato  Jan 23
 2        4030       174   4.631815   1.875958         Kiwi  Jan 23
 3        4159       244   2.292970  10.955730        Onion  Jan 23
 4        4240       281   4.872602   4.865450  Blueberries  Jan 23
 ..        ...       ...        ...        ...          ...     ...
 133      4062       157   5.674905   8.565541     Cucumber  Jan 23
 134      4078       450   6.122402   2.011815         Corn  Jan 23
 135      4796       202   5.010374   4.165886       Tomato  Jan 23
 136      4159       102   6.491030   9.520901        Onion  Jan 23
 137      4225       486   3.041591   4.151847      Avocado  Jan 23

 [138 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        4225       109   6.207881   6.591011       Avocado  Jan 19
 1        4272       487   5.040811   8.147109        Grapes  Jan 19
 2        4272       260   6.311584   4.394680        Grapes  Jan 19
 3        4240       217   4.180325   4.757144   Blueberries  Jan 19
 4        4650       306   3.635099   8.972482      Mushroom  Jan 19
 ..        ...       ...        ...        ...           ...     ...
 166      4159       325   3.884698   3.471873         Onion  Jan 19
 167      4134       110   2.811762  10.598319  Apple (Gala)  Jan 19
 168      4081       436   5.703068   2.935045      Eggplant  Jan 19
 169      4225       272   5.996212  10.896733       Avocado  Jan 19
 170      4225       481   6.018697  10.778607       Avocado  Jan 19

 [171 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb      product    date
 0        4650       250   6.587360   9.142205     Mushroom  Jan 15
 1        4011       229   1.486598   9.840313       Banana  Jan 15
 2        4030       396   2.533602   4.708256         Kiwi  Jan 15
 3        4796       158   2.954984   8.235844       Tomato  Jan 15
 4        4062       359   2.466428   2.269490     Cucumber  Jan 15
 ..        ...       ...        ...        ...          ...     ...
 110      4404       333   3.638740   7.861553        Peach  Jan 15
 111      4240       290   1.828643   5.522218  Blueberries  Jan 15
 112      4225       243   2.036051   9.863016      Avocado  Jan 15
 113      3302       374   3.922895   4.240915      Apricot  Jan 15
 114      4011       465   2.647002  10.675166       Banana  Jan 15

 [115 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4958       319   1.555583   8.004373         Lemon  Jan 7
 1        4412       356   3.364778   9.809748          Pear  Jan 7
 2        4958       359   5.279806   9.331367         Lemon  Jan 7
 3        4650       268   2.249309   2.844005      Mushroom  Jan 7
 4        4272       437   4.138195   1.291572        Grapes  Jan 7
 ..        ...       ...        ...        ...           ...    ...
 120      4323       173   6.543897   2.918309  Strawberries  Jan 7
 121      4078       336   2.947734   8.180738          Corn  Jan 7
 122      4272       402   3.935019   9.028238        Grapes  Jan 7
 123      4012       209   1.570657   9.964943        Orange  Jan 7
 124      4011       108   1.626808   9.814919        Banana  Jan 7

 [125 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4323       261   6.128460   2.515142  Strawberries  Jan 6
 1        4796       339   3.916275   1.364678        Tomato  Jan 6
 2        4412       246   5.341290   5.776535          Pear  Jan 6
 3        4012       408   3.211397   8.861056        Orange  Jan 6
 4        4240       226   4.996812   1.702966   Blueberries  Jan 6
 ..        ...       ...        ...        ...           ...    ...
 140      4404       161   2.609848   5.295912         Peach  Jan 6
 141      4272       404   2.571989   5.105788        Grapes  Jan 6
 142      4272       459   1.838799   4.674319        Grapes  Jan 6
 143      4062       172   2.066491   9.664816      Cucumber  Jan 6
 144      4958       488   1.912378   3.762593         Lemon  Jan 6

 [145 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        4958       454   2.204755   4.785209         Lemon  Jan 14
 1        4134       440   3.536339   4.497465  Apple (Gala)  Jan 14
 2        4404       114   5.261553   9.730664         Peach  Jan 14
 3        4412       110   3.430617   3.852570          Pear  Jan 14
 4        4240       193   2.617842   1.526254   Blueberries  Jan 14
 ..        ...       ...        ...        ...           ...     ...
 186      4081       236   2.236654  10.850305      Eggplant  Jan 14
 187      4404       457   1.237103   1.580556         Peach  Jan 14
 188      4323       497   2.419382   7.954630  Strawberries  Jan 14
 189      4012       473   1.166981   6.643803        Orange  Jan 14
 190      4412       173   4.051888   3.353254          Pear  Jan 14

 [191 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        4958       200   5.153604   5.217819         Lemon  Jan 18
 1        4404       129   1.311252   1.195713         Peach  Jan 18
 2        4131       481   4.183160   6.324801  Apple (Fuji)  Jan 18
 3        4650       456   3.066079   7.590673      Mushroom  Jan 18
 4        4081       322   3.459744   9.946329      Eggplant  Jan 18
 ..        ...       ...        ...        ...           ...     ...
 162      4323       423   3.632948   7.044364  Strawberries  Jan 18
 163      4159       185   5.827280   6.027336         Onion  Jan 18
 164      4225       462   3.873842   1.603327       Avocado  Jan 18
 165      4159       315   6.454303   4.872487         Onion  Jan 18
 166      4412       469   1.421528   9.973076          Pear  Jan 18

 [167 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        4412       469   1.706148   8.716777          Pear  Jan 22
 1        4412       139   2.813381   7.405312          Pear  Jan 22
 2        4131       393   4.869461   7.845903  Apple (Fuji)  Jan 22
 3        4030       172   1.635957   9.009712          Kiwi  Jan 22
 4        4131       440   1.879898   2.195045  Apple (Fuji)  Jan 22
 ..        ...       ...        ...        ...           ...     ...
 101      4225       404   5.712243   1.825776       Avocado  Jan 22
 102      4078       254   6.324711   5.881108          Corn  Jan 22
 103      4012       233   5.135596   7.713722        Orange  Jan 22
 104      4240       244   6.001355   9.204703   Blueberries  Jan 22
 105      4011       401   2.833583   1.786440        Banana  Jan 22

 [106 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        4309       273   4.127074   3.004328        Lychee  Jan 29
 1        4081       482   6.351646   9.071233      Eggplant  Jan 29
 2        4240       499   4.461636   6.829208   Blueberries  Jan 29
 3        4796       227   5.115078   1.984009        Tomato  Jan 29
 4        4012       188   2.741216  10.111816        Orange  Jan 29
 ..        ...       ...        ...        ...           ...     ...
 154      4309       351   3.828880   6.723502        Lychee  Jan 29
 155      4796       453   3.321965   5.359988        Tomato  Jan 29
 156      4323       425   3.236564   5.083257  Strawberries  Jan 29
 157      4958       242   3.487219   6.748389         Lemon  Jan 29
 158      4225       437   6.105995   2.320552       Avocado  Jan 29

 [159 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        3302       114   1.924605  10.919252       Apricot  Jan 13
 1        4081       234   1.488125   4.205697      Eggplant  Jan 13
 2        4131       262   1.318658   9.239724  Apple (Fuji)  Jan 13
 3        4012       173   1.957292   9.477235        Orange  Jan 13
 4        4796       103   5.539148   3.038056        Tomato  Jan 13
 ..        ...       ...        ...        ...           ...     ...
 118      4323       130   5.490224  10.599142  Strawberries  Jan 13
 119      4796       274   5.759226   5.628046        Tomato  Jan 13
 120      3302       186   3.578328   3.294780       Apricot  Jan 13
 121      4078       495   2.902094   4.986427          Corn  Jan 13
 122      4078       123   6.530552   3.141410          Corn  Jan 13

 [123 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   4.306668   8.643655  Apple (Gala)  Jan 1
 1        4012       384   2.007642   6.321210        Orange  Jan 1
 2        4323       431   1.629656   9.623795  Strawberries  Jan 1
 3        4078       457   3.457372   7.768194          Corn  Jan 1
 4        4323       316   3.056689   1.229106  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   1.728398   3.500325  Apple (Fuji)  Jan 1
 173      4958       144   3.892256   1.851022         Lemon  Jan 1
 174      4272       455   4.114178   4.973821        Grapes  Jan 1
 175      3302       482   1.873554   1.229771       Apricot  Jan 1
 176      4240       116   2.033730   9.688245   Blueberries  Jan 1

 [177 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        4958       456   1.331351   7.390465         Lemon  Jan 25
 1        3302       114   3.359816  10.335949       Apricot  Jan 25
 2        4131       120   5.785109   8.516905  Apple (Fuji)  Jan 25
 3        4134       316   1.684798  10.520250  Apple (Gala)  Jan 25
 4        4412       242   4.256661   8.044099          Pear  Jan 25
 ..        ...       ...        ...        ...           ...     ...
 144      4131       409   6.123655   7.863253  Apple (Fuji)  Jan 25
 145      4131       263   3.145877   9.844774  Apple (Fuji)  Jan 25
 146      4796       168   6.352702   9.693585        Tomato  Jan 25
 147      4078       248   5.165587   7.890402          Corn  Jan 25
 148      4081       339   3.836659   7.286120      Eggplant  Jan 25

 [149 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        4030       180   3.118171   9.251835          Kiwi  Jan 24
 1        4309       117   1.766930   6.194444        Lychee  Jan 24
 2        4225       350   4.318816   6.806824       Avocado  Jan 24
 3        4272       472   3.310859   7.695546        Grapes  Jan 24
 4        4225       336   3.486798   4.411289       Avocado  Jan 24
 ..        ...       ...        ...        ...           ...     ...
 130      4134       255   4.446787   5.985666  Apple (Gala)  Jan 24
 131      4131       208   3.238853   4.602868  Apple (Fuji)  Jan 24
 132      4131       156   4.617143   9.484149  Apple (Fuji)  Jan 24
 133      4078       190   6.514423   4.921525          Corn  Jan 24
 134      4134       184   4.533472   8.533902  Apple (Gala)  Jan 24

 [135 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb   product    date
 0        4412       332   3.480002   9.800531      Pear  Jan 12
 1        4650       288   2.853592   4.800529  Mushroom  Jan 12
 2        4796       403   2.789737   4.308759    Tomato  Jan 12
 3        4958       119   6.175376   9.706363     Lemon  Jan 12
 4        4796       382   2.558847   3.353343    Tomato  Jan 12
 ..        ...       ...        ...        ...       ...     ...
 126      4062       353   1.270633   9.433413  Cucumber  Jan 12
 127      4404       369   2.809477  10.216497     Peach  Jan 12
 128      4225       484   6.356341  10.458076   Avocado  Jan 12
 129      4159       488   5.163774   6.532743     Onion  Jan 12
 130      4159       444   5.119665   5.172985     Onion  Jan 12

 [131 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        4225       414   4.541574   6.613257       Avocado  Jan 28
 1        4081       117   4.164106  10.712969      Eggplant  Jan 28
 2        4412       393   2.545393   6.740631          Pear  Jan 28
 3        4309       463   6.486892   9.482279        Lychee  Jan 28
 4        4030       483   6.305405   5.339054          Kiwi  Jan 28
 ..        ...       ...        ...        ...           ...     ...
 123      4131       334   1.288358   4.537509  Apple (Fuji)  Jan 28
 124      4958       107   5.850908   9.611855         Lemon  Jan 28
 125      4159       377   1.834312   2.982122         Onion  Jan 28
 126      4131       228   3.131578   5.270067  Apple (Fuji)  Jan 28
 127      4796       423   6.587661   9.355742        Tomato  Jan 28

 [128 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb   product   date
 0        4958       164   2.639129   5.904439     Lemon  Jan 3
 1        4081       490   4.101062   5.412773  Eggplant  Jan 3
 2        4958       303   4.623853   1.365216     Lemon  Jan 3
 3        4225       296   6.097557   4.506320   Avocado  Jan 3
 4        4078       299   1.736798   9.645152      Corn  Jan 3
 ..        ...       ...        ...        ...       ...    ...
 109      4012       177   6.220216   9.350773    Orange  Jan 3
 110      4650       449   6.479795   2.990711  Mushroom  Jan 3
 111      4796       425   5.379551   4.271377    Tomato  Jan 3
 112      4062       408   3.246359   7.750659  Cucumber  Jan 3
 113      4012       356   5.949154  10.327539    Orange  Jan 3

 [114 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        3302       413   2.377964   5.640558       Apricot  Jan 11
 1        4131       443   1.201691   2.168387  Apple (Fuji)  Jan 11
 2        4012       323   2.586034   5.545495        Orange  Jan 11
 3        4134       291   3.864028   2.032814  Apple (Gala)  Jan 11
 4        4062       297   4.789255   5.985274      Cucumber  Jan 11
 ..        ...       ...        ...        ...           ...     ...
 111      4650       425   3.537658   3.823104      Mushroom  Jan 11
 112      4272       191   5.805252   7.569212        Grapes  Jan 11
 113      4323       154   3.011841   7.669324  Strawberries  Jan 11
 114      4796       476   1.948278   5.131684        Tomato  Jan 11
 115      4796       297   2.788609   4.867106        Tomato  Jan 11

 [116 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        4796       242   1.517439   3.296025        Tomato  Jan 27
 1        4159       342   3.300819   9.300061         Onion  Jan 27
 2        4081       151   5.228864   9.531483      Eggplant  Jan 27
 3        4062       462   2.813813  10.756027      Cucumber  Jan 27
 4        4958       281   5.665194   4.718368         Lemon  Jan 27
 ..        ...       ...        ...        ...           ...     ...
 176      4796       231   6.190845   6.866521        Tomato  Jan 27
 177      4412       290   2.650410   7.500654          Pear  Jan 27
 178      4650       445   3.616599   2.431711      Mushroom  Jan 27
 179      4404       335   1.434116   3.231481         Peach  Jan 27
 180      4131       450   6.501495   1.155781  Apple (Fuji)  Jan 27

 [181 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        4062       157   4.102558   9.083730      Cucumber  Jan 31
 1        4134       398   4.171314   7.465548  Apple (Gala)  Jan 31
 2        4062       250   1.516388  10.536364      Cucumber  Jan 31
 3        4012       408   5.489159   9.858802        Orange  Jan 31
 4        4412       450   5.870578   3.917413          Pear  Jan 31
 ..        ...       ...        ...        ...           ...     ...
 157      4309       273   4.156840   7.702751        Lychee  Jan 31
 158      4159       130   6.266400   2.100906         Onion  Jan 31
 159      4012       156   4.323557   1.101012        Orange  Jan 31
 160      4323       174   4.205897   1.631802  Strawberries  Jan 31
 161      4012       302   5.200603   6.085246        Orange  Jan 31

 [162 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        4081       484   3.003525   1.575670      Eggplant  Jan 30
 1        4012       164   2.358373   6.131951        Orange  Jan 30
 2        4134       435   2.260412   3.437860  Apple (Gala)  Jan 30
 3        4272       303   4.208750   6.221521        Grapes  Jan 30
 4        4272       300   1.502635   1.236848        Grapes  Jan 30
 ..        ...       ...        ...        ...           ...     ...
 150      4412       166   3.114967   6.354554          Pear  Jan 30
 151      4062       496   4.486292   1.240754      Cucumber  Jan 30
 152      4404       195   2.569249   1.403420         Peach  Jan 30
 153      4062       495   4.376179   5.540118      Cucumber  Jan 30
 154      4159       372   5.876815   4.412238         Onion  Jan 30

 [155 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        4011       449   6.402790   6.181041        Banana  Jan 26
 1        4081       248   2.658587  10.403582      Eggplant  Jan 26
 2        4134       465   3.456438   4.887018  Apple (Gala)  Jan 26
 3        4650       137   3.874085   9.619803      Mushroom  Jan 26
 4        4323       211   1.647486   6.419782  Strawberries  Jan 26
 ..        ...       ...        ...        ...           ...     ...
 195      4030       357   4.063054   7.791516          Kiwi  Jan 26
 196      4650       308   3.904909   5.521330      Mushroom  Jan 26
 197      3302       361   4.683110   2.602854       Apricot  Jan 26
 198      4062       432   1.607238   7.397636      Cucumber  Jan 26
 199      4062       268   3.978673   3.072283      Cucumber  Jan 26

 [200 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        4062       429   3.932000   4.918513      Cucumber  Jan 10
 1        4131       115   2.478481   8.849430  Apple (Fuji)  Jan 10
 2        4412       224   2.473869   6.404131          Pear  Jan 10
 3        4240       125   5.366866   1.756734   Blueberries  Jan 10
 4        4131       314   1.593142   1.744448  Apple (Fuji)  Jan 10
 ..        ...       ...        ...        ...           ...     ...
 139      4081       225   6.454553   5.304514      Eggplant  Jan 10
 140      4159       210   1.897165   8.472389         Onion  Jan 10
 141      4159       485   2.234590   6.074265         Onion  Jan 10
 142      4796       156   5.328491   9.705349        Tomato  Jan 10
 143      3302       143   6.584773  10.820634       Apricot  Jan 10

 [144 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb      product   date
 0        4030       109   3.948110   8.149003         Kiwi  Jan 2
 1        4796       329   5.424493   5.205882       Tomato  Jan 2
 2        4309       202   5.202146   2.567686       Lychee  Jan 2
 3        4062       377   5.886845   6.353091     Cucumber  Jan 2
 4        4062       181   5.596997   7.935056     Cucumber  Jan 2
 ..        ...       ...        ...        ...          ...    ...
 141      4159       236   1.449637  10.007625        Onion  Jan 2
 142      3302       307   2.047733   4.052161      Apricot  Jan 2
 143      4240       498   5.710166   6.465320  Blueberries  Jan 2
 144      3302       265   1.458979   6.648616      Apricot  Jan 2
 145      4650       262   6.397860   9.283874     Mushroom  Jan 2

 [146 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4062       275   1.561536   9.363886      Cucumber  Jan 9
 1        4134       439   3.832874   8.652602  Apple (Gala)  Jan 9
 2        4412       186   3.951874   1.545512          Pear  Jan 9
 3        3302       253   6.587281   7.567563       Apricot  Jan 9
 4        4225       467   2.543462   5.037688       Avocado  Jan 9
 ..        ...       ...        ...        ...           ...    ...
 112      4225       458   2.826918   1.712838       Avocado  Jan 9

### Step 5: Concatenate all DataFrames from Step 4 into one large DataFrame
* _Hint:_ Is there a function in `pandas` that can do something like this for us? This is also just one line of code!

In [20]:
#testing 
for i in df_boston:
    print(i)

     prodcode  quantity  price_usd  weight_lb      product    date
0        4225       271   2.647907   5.429557      Avocado  Jan 23
1        4796       264   2.997572   3.141161       Tomato  Jan 23
2        4030       174   4.631815   1.875958         Kiwi  Jan 23
3        4159       244   2.292970  10.955730        Onion  Jan 23
4        4240       281   4.872602   4.865450  Blueberries  Jan 23
..        ...       ...        ...        ...          ...     ...
133      4062       157   5.674905   8.565541     Cucumber  Jan 23
134      4078       450   6.122402   2.011815         Corn  Jan 23
135      4796       202   5.010374   4.165886       Tomato  Jan 23
136      4159       102   6.491030   9.520901        Onion  Jan 23
137      4225       486   3.041591   4.151847      Avocado  Jan 23

[138 rows x 6 columns]
     prodcode  quantity  price_usd  weight_lb       product    date
0        4225       109   6.207881   6.591011       Avocado  Jan 19
1        4272       487   5.040811   8.147109        Grapes  Jan 19
2        4272       260   6.311584   4.394680        Grapes  Jan 19
3        4240       217   4.180325   4.757144   Blueberries  Jan 19
4        4650       306   3.635099   8.972482      Mushroom  Jan 19
..        ...       ...        ...        ...           ...     ...
166      4159       325   3.884698   3.471873         Onion  Jan 19
167      4134       110   2.811762  10.598319  Apple (Gala)  Jan 19
168      4081       436   5.703068   2.935045      Eggplant  Jan 19
169      4225       272   5.996212  10.896733       Avocado  Jan 19
170      4225       481   6.018697  10.778607       Avocado  Jan 19

[171 rows x 6 columns]
     prodcode  quantity  price_usd  weight_lb      product    date
0        4650       250   6.587360   9.142205     Mushroom  Jan 15
1        4011       229   1.486598   9.840313       Banana  Jan 15
2        4030       396   2.533602   4.708256         Kiwi  Jan 15
3        4796       158   2.954984   8.235844       Tomato  Jan 15
4        4062       359   2.466428   2.269490     Cucumber  Jan 15
..        ...       ...        ...        ...          ...     ...
110      4404       333   3.638740   7.861553        Peach  Jan 15
111      4240       290   1.828643   5.522218  Blueberries  Jan 15
112      4225       243   2.036051   9.863016      Avocado  Jan 15
113      3302       374   3.922895   4.240915      Apricot  Jan 15
114      4011       465   2.647002  10.675166       Banana  Jan 15

[115 rows x 6 columns]
     prodcode  quantity  price_usd  weight_lb       product   date
0        4958       319   1.555583   8.004373         Lemon  Jan 7
1        4412       356   3.364778   9.809748          Pear  Jan 7
2        4958       359   5.279806   9.331367         Lemon  Jan 7
3        4650       268   2.249309   2.844005      Mushroom  Jan 7
4        4272       437   4.138195   1.291572        Grapes  Jan 7
..        ...       ...        ...        ...           ...    ...
120      4323       173   6.543897   2.918309  Strawberries  Jan 7
121      4078       336   2.947734   8.180738          Corn  Jan 7
122      4272       402   3.935019   9.028238        Grapes  Jan 7
123      4012       209   1.570657   9.964943        Orange  Jan 7
124      4011       108   1.626808   9.814919        Banana  Jan 7

[125 rows x 6 columns]
     prodcode  quantity  price_usd  weight_lb       product   date
0        4323       261   6.128460   2.515142  Strawberries  Jan 6
1        4796       339   3.916275   1.364678        Tomato  Jan 6
2        4412       246   5.341290   5.776535          Pear  Jan 6
3        4012       408   3.211397   8.861056        Orange  Jan 6
4        4240       226   4.996812   1.702966   Blueberries  Jan 6
..        ...       ...        ...        ...           ...    ...
140      4404       161   2.609848   5.295912         Peach  Jan 6
141      4272       404   2.571989   5.105788        Grapes  Jan 6
142      4272       459   1.838799   4.674319        Grapes  Jan 6
143      4062       172   2.066491   9.664816      Cucumber  Jan 6
144      4958       488   1.912378   3.762593         Lemon  Jan 6

[145 rows x 6 columns]
     prodcode  quantity  price_usd  weight_lb       product    date
0        4958       454   2.204755   4.785209         Lemon  Jan 14
1        4134       440   3.536339   4.497465  Apple (Gala)  Jan 14
2        4404       114   5.261553   9.730664         Peach  Jan 14
3        4412       110   3.430617   3.852570          Pear  Jan 14
4        4240       193   2.617842   1.526254   Blueberries  Jan 14
..        ...       ...        ...        ...           ...     ...
186      4081       236   2.236654  10.850305      Eggplant  Jan 14
187      4404       457   1.237103   1.580556         Peach  Jan 14
188      4323       497   2.419382   7.954630  Strawberries  Jan 14
189      4012       473   1.166981   6.643803        Orange  Jan 14
190      4412       173   4.051888   3.353254          Pear  Jan 14

[191 rows x 6 columns]
     prodcode  quantity  price_usd  weight_lb       product    date
0        4958       200   5.153604   5.217819         Lemon  Jan 18
1        4404       129   1.311252   1.195713         Peach  Jan 18
2        4131       481   4.183160   6.324801  Apple (Fuji)  Jan 18
3        4650       456   3.066079   7.590673      Mushroom  Jan 18
4        4081       322   3.459744   9.946329      Eggplant  Jan 18
..        ...       ...        ...        ...           ...     ...
162      4323       423   3.632948   7.044364  Strawberries  Jan 18
163      4159       185   5.827280   6.027336         Onion  Jan 18
164      4225       462   3.873842   1.603327       Avocado  Jan 18
165      4159       315   6.454303   4.872487         Onion  Jan 18
166      4412       469   1.421528   9.973076          Pear  Jan 18

[167 rows x 6 columns]
     prodcode  quantity  price_usd  weight_lb       product    date
0        4412       469   1.706148   8.716777          Pear  Jan 22
1        4412       139   2.813381   7.405312          Pear  Jan 22
2        4131       393   4.869461   7.845903  Apple (Fuji)  Jan 22
3        4030       172   1.635957   9.009712          Kiwi  Jan 22
4        4131       440   1.879898   2.195045  Apple (Fuji)  Jan 22
..        ...       ...        ...        ...           ...     ...
101      4225       404   5.712243   1.825776       Avocado  Jan 22
102      4078       254   6.324711   5.881108          Corn  Jan 22
103      4012       233   5.135596   7.713722        Orange  Jan 22
104      4240       244   6.001355   9.204703   Blueberries  Jan 22
105      4011       401   2.833583   1.786440        Banana  Jan 22

[106 rows x 6 columns]
     prodcode  quantity  price_usd  weight_lb       product    date
0        4309       273   4.127074   3.004328        Lychee  Jan 29
1        4081       482   6.351646   9.071233      Eggplant  Jan 29
2        4240       499   4.461636   6.829208   Blueberries  Jan 29
3        4796       227   5.115078   1.984009        Tomato  Jan 29
4        4012       188   2.741216  10.111816        Orange  Jan 29
..        ...       ...        ...        ...           ...     ...
154      4309       351   3.828880   6.723502        Lychee  Jan 29
155      4796       453   3.321965   5.359988        Tomato  Jan 29
156      4323       425   3.236564   5.083257  Strawberries  Jan 29
157      4958       242   3.487219   6.748389         Lemon  Jan 29
158      4225       437   6.105995   2.320552       Avocado  Jan 29

[159 rows x 6 columns]
     prodcode  quantity  price_usd  weight_lb       product    date
0        3302       114   1.924605  10.919252       Apricot  Jan 13
1        4081       234   1.488125   4.205697      Eggplant  Jan 13
2        4131       262   1.318658   9.239724  Apple (Fuji)  Jan 13
3        4012       173   1.957292   9.477235        Orange  Jan 13
4        4796       103   5.539148   3.038056        Tomato  Jan 13
..        ...       ...        ...        ...           ...     ...
118      4323       130   5.490224  10.599142  Strawberries  Jan 13
119      4796       274   5.759226   5.628046        Tomato  Jan 13
120      3302       186   3.578328   3.294780       Apricot  Jan 13
121      4078       495   2.902094   4.986427          Corn  Jan 13
122      4078       123   6.530552   3.141410          Corn  Jan 13

[123 rows x 6 columns]
     prodcode  quantity  price_usd  weight_lb       product   date
0        4134       498   4.306668   8.643655  Apple (Gala)  Jan 1
1        4012       384   2.007642   6.321210        Orange  Jan 1
2        4323       431   1.629656   9.623795  Strawberries  Jan 1
3        4078       457   3.457372   7.768194          Corn  Jan 1
4        4323       316   3.056689   1.229106  Strawberries  Jan 1
..        ...       ...        ...        ...           ...    ...
172      4131       309   1.728398   3.500325  Apple (Fuji)  Jan 1
173      4958       144   3.892256   1.851022         Lemon  Jan 1
174      4272       455   4.114178   4.973821        Grapes  Jan 1
175      3302       482   1.873554   1.229771       Apricot  Jan 1
176      4240       116   2.033730   9.688245   Blueberries  Jan 1

[177 rows x 6 columns]
     prodcode  quantity  price_usd  weight_lb       product    date
0        4958       456   1.331351   7.390465         Lemon  Jan 25
1        3302       114   3.359816  10.335949       Apricot  Jan 25
2        4131       120   5.785109   8.516905  Apple (Fuji)  Jan 25
3        4134       316   1.684798  10.520250  Apple (Gala)  Jan 25
4        4412       242   4.256661   8.044099          Pear  Jan 25
..        ...       ...        ...        ...           ...     ...
144      4131       409   6.123655   7.863253  Apple (Fuji)  Jan 25
145      4131       263   3.145877   9.844774  Apple (Fuji)  Jan 25
146      4796       168   6.352702   9.693585        Tomato  Jan 25
147      4078       248   5.165587   7.890402          Corn  Jan 25
148      4081       339   3.836659   7.286120      Eggplant  Jan 25

[149 rows x 6 columns]
     prodcode  quantity  price_usd  weight_lb       product    date
0        4030       180   3.118171   9.251835          Kiwi  Jan 24
1        4309       117   1.766930   6.194444        Lychee  Jan 24
2        4225       350   4.318816   6.806824       Avocado  Jan 24
3        4272       472   3.310859   7.695546        Grapes  Jan 24
4        4225       336   3.486798   4.411289       Avocado  Jan 24
..        ...       ...        ...        ...           ...     ...
130      4134       255   4.446787   5.985666  Apple (Gala)  Jan 24
131      4131       208   3.238853   4.602868  Apple (Fuji)  Jan 24
132      4131       156   4.617143   9.484149  Apple (Fuji)  Jan 24
133      4078       190   6.514423   4.921525          Corn  Jan 24
134      4134       184   4.533472   8.533902  Apple (Gala)  Jan 24

[135 rows x 6 columns]
     prodcode  quantity  price_usd  weight_lb   product    date
0        4412       332   3.480002   9.800531      Pear  Jan 12
1        4650       288   2.853592   4.800529  Mushroom  Jan 12
2        4796       403   2.789737   4.308759    Tomato  Jan 12
3        4958       119   6.175376   9.706363     Lemon  Jan 12
4        4796       382   2.558847   3.353343    Tomato  Jan 12
..        ...       ...        ...        ...       ...     ...
126      4062       353   1.270633   9.433413  Cucumber  Jan 12
127      4404       369   2.809477  10.216497     Peach  Jan 12
128      4225       484   6.356341  10.458076   Avocado  Jan 12
129      4159       488   5.163774   6.532743     Onion  Jan 12
130      4159       444   5.119665   5.172985     Onion  Jan 12

[131 rows x 6 columns]
     prodcode  quantity  price_usd  weight_lb       product    date
0        4225       414   4.541574   6.613257       Avocado  Jan 28
1        4081       117   4.164106  10.712969      Eggplant  Jan 28
2        4412       393   2.545393   6.740631          Pear  Jan 28
3        4309       463   6.486892   9.482279        Lychee  Jan 28
4        4030       483   6.305405   5.339054          Kiwi  Jan 28
..        ...       ...        ...        ...           ...     ...
123      4131       334   1.288358   4.537509  Apple (Fuji)  Jan 28
124      4958       107   5.850908   9.611855         Lemon  Jan 28
125      4159       377   1.834312   2.982122         Onion  Jan 28
126      4131       228   3.131578   5.270067  Apple (Fuji)  Jan 28
127      4796       423   6.587661   9.355742        Tomato  Jan 28

[128 rows x 6 columns]
     prodcode  quantity  price_usd  weight_lb   product   date
0        4958       164   2.639129   5.904439     Lemon  Jan 3
1        4081       490   4.101062   5.412773  Eggplant  Jan 3
2        4958       303   4.623853   1.365216     Lemon  Jan 3
3        4225       296   6.097557   4.506320   Avocado  Jan 3
4        4078       299   1.736798   9.645152      Corn  Jan 3
..        ...       ...        ...        ...       ...    ...
109      4012       177   6.220216   9.350773    Orange  Jan 3
110      4650       449   6.479795   2.990711  Mushroom  Jan 3
111      4796       425   5.379551   4.271377    Tomato  Jan 3
112      4062       408   3.246359   7.750659  Cucumber  Jan 3
113      4012       356   5.949154  10.327539    Orange  Jan 3

[114 rows x 6 columns]
     prodcode  quantity  price_usd  weight_lb       product    date
0        3302       413   2.377964   5.640558       Apricot  Jan 11
1        4131       443   1.201691   2.168387  Apple (Fuji)  Jan 11
2        4012       323   2.586034   5.545495        Orange  Jan 11
3        4134       291   3.864028   2.032814  Apple (Gala)  Jan 11
4        4062       297   4.789255   5.985274      Cucumber  Jan 11
..        ...       ...        ...        ...           ...     ...
111      4650       425   3.537658   3.823104      Mushroom  Jan 11
112      4272       191   5.805252   7.569212        Grapes  Jan 11
113      4323       154   3.011841   7.669324  Strawberries  Jan 11
114      4796       476   1.948278   5.131684        Tomato  Jan 11
115      4796       297   2.788609   4.867106        Tomato  Jan 11

[116 rows x 6 columns]
     prodcode  quantity  price_usd  weight_lb       product    date
0        4796       242   1.517439   3.296025        Tomato  Jan 27
1        4159       342   3.300819   9.300061         Onion  Jan 27
2        4081       151   5.228864   9.531483      Eggplant  Jan 27
3        4062       462   2.813813  10.756027      Cucumber  Jan 27
4        4958       281   5.665194   4.718368         Lemon  Jan 27
..        ...       ...        ...        ...           ...     ...
176      4796       231   6.190845   6.866521        Tomato  Jan 27
177      4412       290   2.650410   7.500654          Pear  Jan 27
178      4650       445   3.616599   2.431711      Mushroom  Jan 27
179      4404       335   1.434116   3.231481         Peach  Jan 27
180      4131       450   6.501495   1.155781  Apple (Fuji)  Jan 27

[181 rows x 6 columns]
     prodcode  quantity  price_usd  weight_lb       product    date
0        4062       157   4.102558   9.083730      Cucumber  Jan 31
1        4134       398   4.171314   7.465548  Apple (Gala)  Jan 31
2        4062       250   1.516388  10.536364      Cucumber  Jan 31
3        4012       408   5.489159   9.858802        Orange  Jan 31
4        4412       450   5.870578   3.917413          Pear  Jan 31
..        ...       ...        ...        ...           ...     ...
157      4309       273   4.156840   7.702751        Lychee  Jan 31
158      4159       130   6.266400   2.100906         Onion  Jan 31
159      4012       156   4.323557   1.101012        Orange  Jan 31
160      4323       174   4.205897   1.631802  Strawberries  Jan 31
161      4012       302   5.200603   6.085246        Orange  Jan 31

[162 rows x 6 columns]
     prodcode  quantity  price_usd  weight_lb       product    date
0        4081       484   3.003525   1.575670      Eggplant  Jan 30
1        4012       164   2.358373   6.131951        Orange  Jan 30
2        4134       435   2.260412   3.437860  Apple (Gala)  Jan 30
3        4272       303   4.208750   6.221521        Grapes  Jan 30
4        4272       300   1.502635   1.236848        Grapes  Jan 30
..        ...       ...        ...        ...           ...     ...
150      4412       166   3.114967   6.354554          Pear  Jan 30
151      4062       496   4.486292   1.240754      Cucumber  Jan 30
152      4404       195   2.569249   1.403420         Peach  Jan 30
153      4062       495   4.376179   5.540118      Cucumber  Jan 30
154      4159       372   5.876815   4.412238         Onion  Jan 30

[155 rows x 6 columns]
     prodcode  quantity  price_usd  weight_lb       product    date
0        4011       449   6.402790   6.181041        Banana  Jan 26
1        4081       248   2.658587  10.403582      Eggplant  Jan 26
2        4134       465   3.456438   4.887018  Apple (Gala)  Jan 26
3        4650       137   3.874085   9.619803      Mushroom  Jan 26
4        4323       211   1.647486   6.419782  Strawberries  Jan 26
..        ...       ...        ...        ...           ...     ...
195      4030       357   4.063054   7.791516          Kiwi  Jan 26
196      4650       308   3.904909   5.521330      Mushroom  Jan 26
197      3302       361   4.683110   2.602854       Apricot  Jan 26
198      4062       432   1.607238   7.397636      Cucumber  Jan 26
199      4062       268   3.978673   3.072283      Cucumber  Jan 26

[200 rows x 6 columns]
     prodcode  quantity  price_usd  weight_lb       product    date
0        4062       429   3.932000   4.918513      Cucumber  Jan 10
1        4131       115   2.478481   8.849430  Apple (Fuji)  Jan 10
2        4412       224   2.473869   6.404131          Pear  Jan 10
3        4240       125   5.366866   1.756734   Blueberries  Jan 10
4        4131       314   1.593142   1.744448  Apple (Fuji)  Jan 10
..        ...       ...        ...        ...           ...     ...
139      4081       225   6.454553   5.304514      Eggplant  Jan 10
140      4159       210   1.897165   8.472389         Onion  Jan 10
141      4159       485   2.234590   6.074265         Onion  Jan 10
142      4796       156   5.328491   9.705349        Tomato  Jan 10
143      3302       143   6.584773  10.820634       Apricot  Jan 10

[144 rows x 6 columns]
     prodcode  quantity  price_usd  weight_lb      product   date
0        4030       109   3.948110   8.149003         Kiwi  Jan 2
1        4796       329   5.424493   5.205882       Tomato  Jan 2
2        4309       202   5.202146   2.567686       Lychee  Jan 2
3        4062       377   5.886845   6.353091     Cucumber  Jan 2
4        4062       181   5.596997   7.935056     Cucumber  Jan 2
..        ...       ...        ...        ...          ...    ...
141      4159       236   1.449637  10.007625        Onion  Jan 2
142      3302       307   2.047733   4.052161      Apricot  Jan 2
143      4240       498   5.710166   6.465320  Blueberries  Jan 2
144      3302       265   1.458979   6.648616      Apricot  Jan 2
145      4650       262   6.397860   9.283874     Mushroom  Jan 2

[146 rows x 6 columns]
     prodcode  quantity  price_usd  weight_lb       product   date
0        4062       275   1.561536   9.363886      Cucumber  Jan 9
1        4134       439   3.832874   8.652602  Apple (Gala)  Jan 9
2        4412       186   3.951874   1.545512          Pear  Jan 9
3        3302       253   6.587281   7.567563       Apricot  Jan 9
4        4225       467   2.543462   5.037688       Avocado  Jan 9
..        ...       ...        ...        ...           ...    ...
112      4225       458   2.826918   1.712838       Avocado  Jan 9
113      3302       418   5.053400   4.573806       Apricot  Jan 9
114      4309       274   1.688945   9.967731        Lychee  Jan 9
115      4404       200   5.447961   5.949575         Peach  Jan 9
116      4958       393   3.806150   5.317314         Lemon  Jan 9

[117 rows x 6 columns]

In [21]:
#wrap list comprehension in concat function
df_boston = pd.concat([process_data(filename,'Boston') for filename in files])

In [22]:
print(df_boston)

     prodcode  quantity  price_usd  weight_lb      product    date
0        4225       271   2.647907   5.429557      Avocado  Jan 23
1        4796       264   2.997572   3.141161       Tomato  Jan 23
2        4030       174   4.631815   1.875958         Kiwi  Jan 23
3        4159       244   2.292970  10.955730        Onion  Jan 23
4        4240       281   4.872602   4.865450  Blueberries  Jan 23
..        ...       ...        ...        ...          ...     ...
155      4272       254   1.951019   1.340623       Grapes   Jan 8
156      3302       312   4.333931   3.772370      Apricot   Jan 8
157      4404       172   2.809396  10.081177        Peach   Jan 8
158      4062       436   3.429501   8.521669     Cucumber   Jan 8
159      4030       401   4.171069   3.393738         Kiwi   Jan 8

[4590 rows x 6 columns]

### Step 6: Do this for all cities, write data
Here's the big one. For each city, process and the data as in steps 3-5, and then write the data to our `output` folder. Below is a dictionary of city name to desired output file name.

Before writing your DataFrame, do the following:
* Add a `city` column
* Reorder the columns into the following order:


| city | date | product | prodcode | quantity | weight_lb | price_usd |
|---|---|---|---|---|---|---|

* _Hint:_ You can reorder DataFrame columns simply by writing over your DataFrame with itself, but specifying the specific column order with `.loc`. For example:

`print(df)`

| b | c | a |
|---|---|---|
| 1 | 2 | 3 |

`df = df.loc[:, ["a", "b", "c"]]`

`print(df)`

| a | b | c |
|---|---|---|
| 3 | 1 | 2 |

In [ ]:
city_dict = {
    "Atlanta": "atl.csv",
    "Austin": "atx.csv",
    "Boston": "bos.csv",
    "Chicago": "chi.csv",
    "Denver": "den.csv",
    "Los Angeles": "lax.csv",
    "New York": "nyc.csv",
    "San Francisco": "sf.csv",
    "Seattle": "sea.csv",
    "Washington, DC": "dc.csv"
}

In [ ]:
# Loop through city_dict and carry out Step 6 here.
# The keys of city_dict can serve as the sheet name.
# The values of city_dict are what you should name the output .csv files.
# If done correctly, this cell could take almost a minute to run!

In [39]:
df_boston['city'] = 'Boston'
df_boston = df_boston.loc[:, ["city","date","product","prodcode","quantity","weight_lb","price_usd"]]
df_boston.to_csv('output/bos.csv')

In [40]:
#process New York
df_ny = pd.concat([process_data(filename,'New York') for filename in files])
df_ny['city'] = 'New York'
df_ny = df_ny.loc[:, ["city","date","product","prodcode","quantity","weight_lb","price_usd"]]
df_ny.to_csv('output/nyc.csv')

In [41]:
#process Atlanta
df_atl = pd.concat([process_data(filename,'Atlanta') for filename in files])
df_atl['city'] = 'Atlanta'
df_atl = df_atl.loc[:, ["city","date","product","prodcode","quantity","weight_lb","price_usd"]]
df_atl.to_csv('output/atl.csv')

In [42]:
#process Austin
df_aus = pd.concat([process_data(filename,'Austin') for filename in files])
df_aus['city'] = 'Austin'
df_aus = df_aus.loc[:, ["city","date","product","prodcode","quantity","weight_lb","price_usd"]]
df_aus.to_csv('output/aus.csv')

In [43]:
#process Chicago
df_chi = pd.concat([process_data(filename,'Chicago') for filename in files])
df_chi['city'] = 'Chicago'
df_chi = df_chi.loc[:, ["city","date","product","prodcode","quantity","weight_lb","price_usd"]]
df_chi.to_csv('output/chi.csv')

In [44]:
#process Denver
df_den = pd.concat([process_data(filename,'Denver') for filename in files])
df_den['city'] = 'Denver'
df_den = df_den.loc[:, ["city","date","product","prodcode","quantity","weight_lb","price_usd"]]
df_den.to_csv('output/den.csv')

In [45]:
#process Los Angeles
df_lax = pd.concat([process_data(filename,'Los Angeles') for filename in files])
df_lax['city'] = 'Los Angeles'
df_lax = df_lax.loc[:, ["city","date","product","prodcode","quantity","weight_lb","price_usd"]]
df_lax.to_csv('output/lax.csv')

In [46]:
#process San Francisco
df_sf = pd.concat([process_data(filename,'San Francisco') for filename in files])
df_sf['city'] = 'San Francisco'
df_sf = df_sf.loc[:, ["city","date","product","prodcode","quantity","weight_lb","price_usd"]]
df_sf.to_csv('output/sf.csv')

In [47]:
#process Seattle
df_sea = pd.concat([process_data(filename,'Seattle') for filename in files])
df_sea['city'] = 'Seattle'
df_sea = df_sea.loc[:, ["city","date","product","prodcode","quantity","weight_lb","price_usd"]]
df_sea.to_csv('output/sea.csv')

In [48]:
#process Washington, DC
df_dc = pd.concat([process_data(filename,'Washington, DC') for filename in files])
df_dc['city'] = 'Washington, DC'
df_dc = df_dc.loc[:, ["city","date","product","prodcode","quantity","weight_lb","price_usd"]]
df_dc.to_csv('output/dc.csv')

# Part II: Checking our answers 
In steps very similar to the ones conducted above...
1. Loop through the files we just wrote to `output`, and read them in, collecting them all in one list
1. Combine all of those DataFrames into one large DataFrame
1. For each city, find the mean `quantity`, `weight_lb`, and `price_usd`.

If you've done everything correct, your answer should look exactly like this:

![](imgs/correct-output.png)

In [50]:
#checklist of output directory
for filename in os.listdir('output'):
    print(filename)

lax.csv
chi.csv
sea.csv
aus.csv
dc.csv
den.csv
atl.csv
sf.csv
nyc.csv
bos.csv

In [54]:
op = os.listdir('output')
big_df = pd.concat([pd.read_csv(os.path.join('output/',filename)) for filename in op])
big_df

,Unnamed: 0,city,date,product,prodcode,quantity,weight_lb,price_usd
0,0,Los Angeles,Jan 23,Lemon,4958,263,6.081638,5.760184
1,1,Los Angeles,Jan 23,Orange,4012,197,5.265633,5.506525
2,2,Los Angeles,Jan 23,Lychee,4309,433,10.925479,2.705404
3,3,Los Angeles,Jan 23,Mushroom,4650,100,3.647387,4.847650
4,4,Los Angeles,Jan 23,Tomato,4796,212,3.791234,3.777811
...,...,...,...,...,...,...,...,...
4585,155,Boston,Jan 8,Grapes,4272,254,1.340623,1.951019
4586,156,Boston,Jan 8,Apricot,3302,312,3.772370,4.333931
4587,157,Boston,Jan 8,Peach,4404,172,10.081177,2.809396
4588,158,Boston,Jan 8,Cucumber,4062,436,8.521669,3.429501
4589,159,Boston,Jan 8,Kiwi,4030,401,3.393738,4.171069

In [69]:
#group by city and select columns to display its mean
big_df.groupby(['city'])['quantity','weight_lb','price_usd'].mean()

                  quantity  weight_lb  price_usd
city
Atlanta         302.485306   5.964513   3.875960
Austin          301.048298   6.046387   3.874911
Boston          298.806536   6.031529   3.801946
Chicago         301.686186   6.050777   3.860052
Denver          301.012745   6.064925   3.864176
Los Angeles     301.531276   6.083763   3.836662
New York        299.482863   6.045147   3.825323
San Francisco   298.979895   6.118700   3.851660
Seattle         300.333694   5.962743   3.806630
Washington, DC  300.576421   5.965373   3.886215

# Part III (BONUS): Get this process production-ready!
_This part of the lab is optional, but very highly recommended, as the skills developed in this part are extremely common in industry._

For this step, we're going to take this whole process and put it into a production-ready Python script. **ABSOLUTELY NONE OF THIS STEP SHOULD TAKE PLACE IN A JUPYTER NOTEBOOK! PRODUCTIONALIZED ETL (_"Extract, Transform, Load"_) CODE DOES NOT TAKE PLACE IN A JUPYTER NOTEBOOK!**

The instructions are simple: As conducted in this lab, read, transform, and export the data in our Excel files into .csv files. The code should be in a `.py` file and executable from the command line. Here are some hints and tips to guide you:

### Hints, tips, and tricks:
* A good place to start is with the code you've already written. In this notebook, you can click `File > Download as > Python (.py)` to export as a `.py` file. Most of this exercise then comes down to you cleaning this file. (There will be a lot to clean).
* Remember `os.mkdir()` will throw an error if the folder you're trying to make already exists. Maybe you should check to see if it already exists. If it already exists, what should you do? (Remember that `.csv` can be overwritten with no problem.) The functions that can help you with this are all in the `os` library.
* Remember to follow all of the Python best practices we've already learned:
    - All import statements should go at the top of your script.
    - Comment your code. Comments shouldn't explain _what_ code does, but _why_ the code does this.
    - Keep your code DRY (don't repeat yourself) as opposed to WET (write everything twice). All constants should be variables that only need to be changed once. All code should be bottled into functions so you only need to fix it once.
* Make sure not to hardcode "Jan" anywhere. The point is that this code can be run throughout the lifetime of this supermarket's project, which is likely months or years. Keep your code so that if you get February data, you only need to change one tiny piece of the script (probably a file path).