## Import

In [4]:
import requests
import json

import pandas as pd

# IGDB Database

API Limit
* 50k requests
* Webhooks
* 500 results per-page limit
* 5000 Offset limit
* CORS support (coming soon)
* Game Achievements
* External IDs
* Multi-Querying

Documentation
https://api-docs.igdb.com/#about

## Games

### Since many games exist on both the PS4 and Xbox One and to bypass the 5000 offset limit, only PS4 and Xbox One games are included in the first query

In [4]:
url = "https://api-v3.igdb.com/games"

payload = "fields *;\nlimit 500;\nwhere platforms = (48,49);"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [5]:
data = response.json()
len(data)

500

In [6]:
games = pd.DataFrame(data)
games.head()

,id,category,collection,cover,created_at,first_release_date,game_modes,genres,involved_companies,name,...,videos,bundles,hypes,expansions,standalone_expansions,time_to_beat,artworks,parent_game,status,dlcs
0,118704,0,275.0,82848.0,1558051200,1.546214e+09,"[1, 2]",[4],[85711],TEKKEN 7: Ultimate Edition,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,118916,0,2693.0,81533.0,1558483200,1.509581e+09,"[1, 2]",[4],[84571],ACA NEOGEO ART OF FIGHTING 3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6273,0,100.0,80938.0,1398038400,9.904032e+08,"[1, 2, 4]",[5],"[14942, 14943, 20453, 20454, 20455]",Red Faction,...,[22497],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8959,0,2293.0,89239.0,1423094400,1.371082e+09,[1],"[8, 32]","[44773, 44774, 44775, 44776]",Mutant Mudds Deluxe,...,NaN,[72897],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,99735,0,2693.0,81563.0,1524960000,1.494461e+09,"[1, 2]",[4],[84618],ACA NEOGEO THE KING OF FIGHTERS '95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Games Offset 500

In [7]:
url = "https://api-v3.igdb.com/games"

payload = "fields *;\nlimit 500;\nwhere platforms = (48,49);\noffset 500;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [8]:
data = response.json()
len(data)

500

In [9]:
games_2 = pd.DataFrame(data)
games_2.head()

,id,age_ratings,aggregated_rating,aggregated_rating_count,category,collection,cover,created_at,external_games,first_release_date,...,bundles,game_engines,franchise,franchises,alternative_names,artworks,dlcs,expansions,time_to_beat,status
0,8818,[15030],73.333333,3.0,0,1193.0,9933.0,1422403200,"[12661, 78115, 117153, 210934, 246891]",1.411690e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,30392,NaN,NaN,NaN,0,NaN,43299.0,1495497600,NaN,1.546214e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,118919,NaN,NaN,NaN,1,NaN,74558.0,1558483200,NaN,1.562112e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,82408,[20697],NaN,NaN,0,NaN,60701.0,1516320000,[211023],1.478477e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,90082,[22737],55.000000,7.0,1,103.0,72774.0,1520380800,NaN,1.531786e+09,...,[95960],[118],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Games Offset 1000

In [10]:
url = "https://api-v3.igdb.com/games"

payload = "fields *;\nlimit 500;\nwhere platforms = (48,49);\noffset 1000;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [11]:
data = response.json()
len(data)

500

In [12]:
games_3 = pd.DataFrame(data)
games_3.head()

,id,age_ratings,category,collection,cover,created_at,first_release_date,franchise,franchises,game_modes,...,videos,alternative_names,game_engines,multiplayer_modes,bundles,dlcs,parent_game,status,time_to_beat,expansions
0,99509,[25882],0,2693.0,81546.0,1524960000,1.497485e+09,1008.0,[1008],[1],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,116417,[25397],0,NaN,74976.0,1553040000,1.567728e+09,NaN,NaN,[1],...,"[25642, 29934, 30219]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11816,NaN,0,1578.0,80980.0,1440720000,1.489622e+09,NaN,NaN,[1],...,[29281],[5014],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,103845,NaN,0,NaN,72219.0,1529539200,1.499126e+09,NaN,NaN,[1],...,[25443],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,28242,"[12582, 12583]",0,5464.0,22059.0,1493164800,1.496102e+09,NaN,NaN,[1],...,"[14026, 21138]",NaN,[6],NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Games Offset 1500

In [13]:
url = "https://api-v3.igdb.com/games"

payload = "fields *;\nlimit 500;\nwhere platforms = (48,49);\noffset 1500;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [14]:
data = response.json()
len(data)

500

In [15]:
games_4 = pd.DataFrame(data)
games_4.head()

,id,age_ratings,aggregated_rating,aggregated_rating_count,category,cover,created_at,external_games,first_release_date,game_modes,...,franchises,multiplayer_modes,status,storyline,parent_game,bundles,time_to_beat,dlcs,expansions,standalone_expansions
0,20393,[21095],60.0,1.0,0,63465.0,1468540800,"[5185, 307701, 312877, 576947]",1.456445e+09,[1],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,97257,NaN,NaN,NaN,0,88439.0,1524441600,"[1182742, 1775253]",1.640909e+09,[1],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,106807,"[25709, 25710]",NaN,NaN,0,73939.0,1533340800,"[1617221, 1709934, 1728314]",1.567123e+09,[1],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,115673,NaN,NaN,NaN,0,81654.0,1551398400,NaN,1.483142e+09,"[1, 5]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1214,[6867],NaN,NaN,0,78836.0,1341705600,"[155318, 294878]",9.767520e+08,[1],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Games Offset 2000

In [16]:
url = "https://api-v3.igdb.com/games"

payload = "fields *;\nlimit 500;\nwhere platforms = (48,49);\noffset 2000;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [17]:
data = response.json()
len(data)

500

In [18]:
games_5 = pd.DataFrame(data)
games_5.head()

,id,category,collection,cover,created_at,first_release_date,franchise,franchises,genres,involved_companies,...,videos,websites,storyline,status,bundles,version_parent,version_title,dlcs,expansions,parent_game
0,125126,0,18.0,83336.0,1572134400,1.538698e+09,571.0,[571],"[12, 31]","[86274, 86275]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,62324,0,785.0,42309.0,1505001600,1.397002e+09,NaN,NaN,[14],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11186,0,66.0,15107.0,1434412800,1.476144e+09,NaN,NaN,[5],"[36483, 49006, 49007]",...,"[4487, 7787]","[3689, 33006, 33007, 33008, 33009, 33010]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7268,0,980.0,69606.0,1402012800,1.383782e+09,1180.0,[1180],"[12, 31]","[21046, 21047, 21048]",...,"[5032, 5033]","[46644, 46645]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,103292,0,66.0,81895.0,1528588800,1.568074e+09,1276.0,[1276],"[5, 31]","[82790, 82791]",...,"[20484, 20485, 27848, 27849, 29199, 29200, 294...","[80096, 80097, 80098, 80099, 108251, 110415]",The world is crumbling. The Swarm has corrupte...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Games Offset 2500

In [19]:
url = "https://api-v3.igdb.com/games"

payload = "fields *;\nlimit 500;\nwhere platforms = (48,49);\noffset 2500;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [20]:
data = response.json()
len(data)

500

In [21]:
games_6 = pd.DataFrame(data)
games_6.head()

,id,age_ratings,aggregated_rating,aggregated_rating_count,alternative_names,category,cover,created_at,first_release_date,game_modes,...,franchise,franchises,artworks,time_to_beat,bundles,multiplayer_modes,status,dlcs,standalone_expansions,expansions
0,120976,"[25131, 25132]",40.0,3.0,"[27172, 28038]",6,85249.0,1563667200,1.543882e+09,[1],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18285,NaN,NaN,NaN,NaN,0,55292.0,1457481600,NaN,[1],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,119257,NaN,NaN,NaN,[24914],0,79360.0,1559865600,1.609373e+09,[1],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26090,NaN,NaN,NaN,NaN,1,19123.0,1480291200,1.384474e+09,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,33309,[21012],NaN,NaN,NaN,0,84946.0,1495670400,1.458000e+09,"[1, 2, 3]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Games Offset 3000

In [22]:
url = "https://api-v3.igdb.com/games"

payload = "fields *;\nlimit 500;\nwhere platforms = (48,49);\noffset 3000;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [23]:
data = response.json()
len(data)

500

In [24]:
games_7 = pd.DataFrame(data)
games_7.head()

,id,age_ratings,aggregated_rating,aggregated_rating_count,alternative_names,category,collection,cover,created_at,external_games,...,game_engines,bundles,storyline,version_parent,version_title,time_to_beat,parent_game,status,dlcs,expansions
0,26499,[11150],65.000,3.0,[7913],0,2570.0,19718.0,1481846400,"[103453, 1189169]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11489,"[7949, 10456]",66.875,9.0,"[6074, 11537]",0,3898.0,10823.0,1438387200,"[7281, 111562, 210295]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19082,"[10839, 12379]",77.500,6.0,NaN,0,3057.0,82071.0,1462752000,"[6208, 106995, 223573, 245560]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,52030,[24297],50.000,1.0,[9235],0,NaN,30547.0,1501027200,[101470],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,36662,[20869],54.125,20.0,NaN,0,12.0,93670.0,1496361600,"[107610, 189878, 210733, 212316, 281572]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Games Offset 3500

In [25]:
url = "https://api-v3.igdb.com/games"

payload = "fields *;\nlimit 500;\nwhere platforms = (48,49);\noffset 3500;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [26]:
data = response.json()
len(data)

500

In [27]:
games_8 = pd.DataFrame(data)
games_8.head()

,id,alternative_names,category,cover,created_at,external_games,first_release_date,game_engines,game_modes,genres,...,version_parent,version_title,artworks,bundles,dlcs,franchise,franchises,parent_game,expansions,status
0,86270,[25944],0,68043.0,1517616000,[1602492],1.609373e+09,[13],[1],"[31, 32]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4656,NaN,0,78579.0,1390953600,"[11632, 76560, 210260, 268284, 1369004]",1.255392e+09,NaN,[1],"[8, 9, 31]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21599,NaN,0,86632.0,1469491200,"[8318, 78426, 106083, 211094, 247471]",1.474502e+09,[13],[1],"[31, 32]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,93746,"[21910, 21911, 21912, 27620]",0,86639.0,1521331200,"[578006, 1041679, 1708297]",1.538006e+09,NaN,"[1, 2, 3, 4]","[12, 24, 25]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14368,[29352],0,17980.0,1445990400,"[15208, 111214]",1.476317e+09,NaN,"[1, 2, 3]",[24],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Games Offset 4000

In [28]:
url = "https://api-v3.igdb.com/games"

payload = "fields *;\nlimit 500;\nwhere platforms = (48,49);\noffset 4000;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [29]:
data = response.json()
len(data)

500

In [30]:
games_9 = pd.DataFrame(data)
games_9.head()

,id,age_ratings,artworks,category,cover,created_at,external_games,first_release_date,game_modes,genres,...,bundles,parent_game,expansions,dlcs,version_parent,version_title,franchise,franchises,status,standalone_expansions
0,20909,[24361],[6812],0,72505.0,1469059200,"[2072, 186848, 254223]",1.505347e+09,[1],"[31, 32]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,37026,[23960],NaN,0,90192.0,1497139200,"[335501, 1617863, 1701376]",1.548202e+09,"[1, 2, 3]","[8, 31, 32]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,105629,NaN,NaN,0,68770.0,1532044800,"[1602497, 1611789, 1617527]",1.541462e+09,[1],"[31, 32]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18528,"[16653, 16654]",NaN,0,28888.0,1459296000,"[9376, 127379, 224107, 231043, 290067, 368217]",1.277251e+09,[1],"[9, 13, 32]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13187,"[7629, 7630]",NaN,0,75349.0,1444089600,"[10364, 111844, 210558, 246729]",1.430352e+09,"[1, 2, 3]","[5, 8, 32]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Games Offset 4500

In [31]:
url = "https://api-v3.igdb.com/games"

payload = "fields *;\nlimit 500;\nwhere platforms = (48,49);\noffset 4500;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [32]:
data = response.json()
len(data)

491

In [33]:
games_10 = pd.DataFrame(data)
games_10.head()

,id,age_ratings,aggregated_rating,aggregated_rating_count,category,cover,created_at,dlcs,external_games,first_release_date,...,version_parent,version_title,franchise,franchises,bundles,multiplayer_modes,parent_game,expansions,status,standalone_expansions
0,27441,[25180],85.250000,8.0,0,71109.0,1488240000,[128191],"[103415, 1690419, 1706908]",1.546387e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11667,"[22526, 22527]",84.000000,12.0,0,89761.0,1439510400,[115781],[1592699],1.501286e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,103286,"[23895, 23896]",82.142857,8.0,0,75668.0,1528588800,NaN,[1685367],1.547165e+09,...,1209.0,Definitive Edition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11213,"[9024, 21527]",59.842105,20.0,0,86077.0,1434412800,NaN,"[111723, 189345, 245347]",1.459382e+09,...,NaN,NaN,721.0,[721],NaN,NaN,NaN,NaN,NaN,NaN
4,10949,"[21329, 21330]",79.625000,9.0,0,75797.0,1433203200,NaN,"[13180, 78523, 140743, 293525]",1.166659e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Note: Realized the offset limit is 5000 and there are more than 5000 games across the platforms. Switching gear to grabbing data from PS4 and Xbox One since there are duplicate games on PS4 and Xbox One and the Nintendo Switch database

## Merge PS4 & Xbox One Dataframes

In [35]:
ps4_xbox1 = pd.concat([games,
           games_2,
           games_3,
           games_4,
           games_5,
           games_6,
           games_7,
           games_8,
           games_9,
           games_10])
ps4_xbox1

/Users/tringuyen/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # Remove the CWD from sys.path while we load stuff.

,age_ratings,aggregated_rating,aggregated_rating_count,alternative_names,artworks,bundles,category,collection,cover,created_at,...,themes,time_to_beat,total_rating,total_rating_count,updated_at,url,version_parent,version_title,videos,websites
0,NaN,NaN,NaN,NaN,NaN,NaN,0,275.0,82848.0,1558051200,...,[1],NaN,NaN,NaN,1571011200,https://www.igdb.com/games/tekken-7-ultimate-e...,7498.0,Ultimate Edition,NaN,NaN
1,[25875],NaN,NaN,NaN,NaN,NaN,0,2693.0,81533.0,1558483200,...,[1],NaN,NaN,NaN,1574035200,https://www.igdb.com/games/aca-neogeo-art-of-f...,6566.0,ACA NEOGEO,NaN,[117000]
2,"[3531, 11453]",70.000000,2.0,[3198],NaN,NaN,0,100.0,80938.0,1398038400,...,"[1, 18]",NaN,72.050691,80.0,1582761600,https://www.igdb.com/games/red-faction,NaN,NaN,[22497],"[16588, 40518, 40519, 91141, 119369]"
3,"[11164, 11165]",88.000000,3.0,NaN,NaN,[72897],0,2293.0,89239.0,1423094400,...,"[1, 17]",NaN,82.500000,6.0,1579219200,https://www.igdb.com/games/mutant-mudds-deluxe,21039.0,NaN,NaN,"[14212, 14213, 14214, 66582]"
4,[25896],NaN,NaN,NaN,NaN,NaN,0,2693.0,81563.0,1524960000,...,[1],NaN,NaN,NaN,1574035200,https://www.igdb.com/games/aca-neogeo-the-king...,15427.0,ACA NEOGEO,NaN,[117028]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,"[13157, 21310]",89.434783,26.0,[9367],"[3263, 3264, 3265, 3266, 3267, 3268, 3269, 327...",[72870],0,NaN,71277.0,1434412800,...,"[1, 18, 38]",11156.0,90.908342,792.0,1583280000,https://www.igdb.com/games/horizon-zero-dawn,NaN,NaN,"[4418, 6136, 8307, 8351, 8646, 9777, 11184, 11...","[18563, 18564, 18565, 76119]"
487,"[10876, 10877]",93.166667,25.0,NaN,"[6303, 6304, 6305, 6306, 6307]",NaN,0,97.0,81917.0,1402358400,...,"[1, 17, 22]",7331.0,93.008757,1000.0,1583366400,https://www.igdb.com/games/uncharted-4-a-thief...,NaN,NaN,"[4424, 4426, 6133, 6360, 6376, 7146, 7164, 754...","[1815, 52550]"
488,[20026],NaN,NaN,NaN,NaN,[6880],0,82.0,55336.0,1515369600,...,"[1, 18, 19, 20, 21, 23, 39]",80853.0,77.414835,60.0,1583366400,https://www.igdb.com/games/metro-2033-redux,495.0,NaN,[17508],"[64947, 64948, 64949, 64950, 64951, 64952, 649..."
489,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,93863.0,1536105600,...,NaN,NaN,NaN,NaN,1583366400,https://www.igdb.com/games/syrup-and-the-ultim...,NaN,NaN,[34266],NaN
490,[15225],76.150000,23.0,NaN,"[2882, 2883, 2884, 2885, 2886, 2887, 2888, 288...",NaN,0,103.0,81329.0,1444089600,...,"[1, 22]",13182.0,74.418645,204.0,1583366400,https://www.igdb.com/games/far-cry-primal,NaN,NaN,"[5752, 5753, 6356, 6357, 6358, 6811, 6812, 6990]","[4846, 43333, 43334, 120160]"

## Nintendo Switch Games

In [36]:
url = "https://api-v3.igdb.com/games"

payload = "fields *;\nlimit 500;\nwhere platforms = 130;\n"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [37]:
data = response.json()
len(data)

500

In [38]:
switch = pd.DataFrame(data)
switch.head()

,id,category,cover,created_at,first_release_date,franchise,franchises,game_modes,genres,involved_companies,...,game_engines,multiplayer_modes,artworks,bundles,expansions,parent_game,time_to_beat,status,dlcs,standalone_expansions
0,68354,0,67185.0,1505952000,1.530317e+09,1008.0,[1008],"[1, 2]",[33],[54507],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,115279,0,NaN,1550016000,1.609373e+09,546.0,[546],[1],[12],"[74456, 74457, 74458]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,51518,0,27989.0,1500422400,1.500509e+09,NaN,NaN,[1],"[9, 25]","[52278, 52279]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,53790,3,89381.0,1501545600,1.511827e+09,29.0,[29],"[1, 2, 3]","[5, 31]",[52623],...,[14],[7558],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,110350,0,NaN,1537833600,1.552608e+09,NaN,NaN,[1],"[13, 32]",[75059],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Nintendo Switch Games

In [39]:
url = "https://api-v3.igdb.com/games"

payload = "fields *;\nlimit 500;\nwhere platforms = 130;\noffset 500;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [40]:
data = response.json()
len(data)

98

In [41]:
switch_2 = pd.DataFrame(data)
switch_2.head()

,id,age_ratings,category,cover,created_at,first_release_date,game_modes,genres,involved_companies,name,...,parent_game,player_perspectives,keywords,bundles,multiplayer_modes,status,expansions,game_engines,dlcs,time_to_beat
0,129951,[27183],0,92491.0,1581638400,1.581638e+09,"[1, 2, 4]","[10, 13, 14, 33]",[93103],Speedway Racing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,118783,NaN,0,92489.0,1558310400,1.581638e+09,[1],"[31, 32, 33]","[93098, 93099]",The Incredible Adventures of Super Panda,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,129787,NaN,0,91696.0,1581292800,1.579046e+09,[1],"[15, 33]",[92716],Planetary Defense Force,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,129952,NaN,0,92493.0,1581638400,1.581638e+09,[1],"[8, 33]","[93104, 93105]",Reed Remastered,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,129955,NaN,0,92498.0,1581638400,1.581552e+09,"[1, 2]",[33],[93112],Arcade Archives SASUKE VS COMMANDER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Merge Nintendo Switch Games

In [42]:
switch_final = pd.concat([switch,switch_2])

/Users/tringuyen/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [43]:
switch_final.to_csv('../datasets/switch.csv')

## Merge Games Dataframes

In [44]:
games_final = pd.concat([ps4_xbox1,switch_final])

In [45]:
games_final.to_csv('../datasets/games_raw.csv',index=False)

## Genres

In [46]:
url = "https://api-v3.igdb.com/genres"

payload = "fields *;\nlimit 500;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [47]:
data = response.json()
len(data)

21

In [48]:
genres = pd.DataFrame(data)
genres.head()

,id,created_at,name,slug,updated_at,url
0,13,1297555200,Simulator,simulator,1323216000,https://www.igdb.com/genres/simulator
1,24,1300924800,Tactical,tactical,1323216000,https://www.igdb.com/genres/tactical
2,26,1301961600,Quiz/Trivia,quiz-trivia,1323216000,https://www.igdb.com/genres/quiz-trivia
3,4,1297555200,Fighting,fighting,1323216000,https://www.igdb.com/genres/fighting
4,15,1297555200,Strategy,strategy,1323216000,https://www.igdb.com/genres/strategy

In [73]:
#copy and paste into genre df to map
genres['id'].values

array([13, 24, 26,  4, 15, 31, 12,  5,  7, 32, 16, 30,  9, 11, 25, 34,  8,
       10, 14, 33,  2])

In [72]:
#copy and paste into genre df to map
genres['name'].values

array(['Simulator', 'Tactical', 'Quiz/Trivia', 'Fighting', 'Strategy',
       'Adventure', 'Role-playing (RPG)', 'Shooter', 'Music', 'Indie',
       'Turn-based strategy (TBS)', 'Pinball', 'Puzzle',
       'Real Time Strategy (RTS)', "Hack and slash/Beat 'em up",
       'Visual Novel', 'Platform', 'Racing', 'Sport', 'Arcade',
       'Point-and-click'], dtype=object)

## PS4 Only Games

In [261]:
url = "https://api-v3.igdb.com/games"

payload = "fields *;\nlimit 500;\nwhere platforms = 48;\n"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [262]:
data = response.json()
len(data)

427

In [263]:
games_ps4 = pd.DataFrame(data)
games_ps4.head()

,id,category,created_at,first_release_date,game_modes,hypes,involved_companies,keywords,name,platforms,...,storyline,external_games,bundles,rating,rating_count,multiplayer_modes,status,dlcs,time_to_beat,standalone_expansions
0,116796,0,1553904000,1.576109e+09,[1],2.0,[76781],[16753],Project Sakura Wars - Limited Edition,[48],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,24219,0,1474502400,1.444262e+09,NaN,NaN,NaN,NaN,Tearaway: Unfolded - Crafted Edition,[48],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,42956,0,1499040000,1.469578e+09,NaN,NaN,NaN,NaN,Star Ocean: Integrity and Faithlessness Limite...,[48],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25975,1,1480032000,1.435018e+09,[1],NaN,"[89554, 89555]",NaN,Batman: Arkham Knight - PlayStation Exclusive ...,[48],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,25997,1,1480032000,1.433462e+09,[1],NaN,"[89552, 89553]",NaN,Batman: Arkham Knight - PlayStation 4 Exclusiv...,[48],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## XBox One Only Games

In [264]:
url = "https://api-v3.igdb.com/games"

payload = "fields *;\nlimit 500;\nwhere platforms = 49;\n"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [265]:
data = response.json()
len(data)

219

In [266]:
games_xbox1 = pd.DataFrame(data)
games_xbox1.head()

,id,category,cover,created_at,external_games,first_release_date,genres,keywords,name,platforms,...,status,storyline,websites,pulse_count,artworks,hypes,franchise,franchises,bundles,time_to_beat
0,82545,0,60678.0,1516406400,[210515],1.448410e+09,[33],"[617, 17215]",First-person bundle,[49],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,82416,0,58506.0,1516320000,[210911],1.493078e+09,NaN,"[16828, 16894]",Sniper Ghost Warrior 3 Season Pass Edition,[49],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20229,0,82322.0,1468281600,[211133],1.404173e+09,"[2, 5, 10, 31, 33]",NaN,Zombie Driver: Ultimate Edition,[49],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,82538,0,60689.0,1516406400,[210623],1.479859e+09,NaN,NaN,Kinect Mega Bundle: 4 in 1,[49],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4757,0,84364.0,1391212800,"[127308, 210404, 1185453]",1.385078e+09,[5],"[6, 193, 296, 332, 992, 1025, 1293, 4134, 4178...",Crimson Dragon,[49],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Platforms

In [1]:
import requests

url = "https://api-v3.igdb.com/platforms"

payload = "fields *;\nlimit 500;\nsort id;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

[
  {
    "id": 3,
    "abbreviation": "Linux",
    "alternative_name": "GNU/Linux",
    "category": 4,
    "created_at": 1297555200,
    "name": "Linux",
    "platform_logo": 33,
    "product_family": 4,
    "slug": "linux",
    "summary": "Linux is a free and open-source (FOSS/FLOSS) Operating System. In a more precise and complex definition, Linux is an open-source OS kernel on which a large variety of Operating Systems (known as Linux distributions) are built.",
    "updated_at": 1392940800,
    "url": "https://www.igdb.com/platforms/linux",
    "versions": [
      44
    ],
    "websites": [
      1
    ]
  },
  {
    "id": 4,
    "abbreviation": "N64",
    "alternative_name": "N64",
    "category": 1,
    "created_at": 1297555200,
    "generation": 5,
    "name": "Nintendo 64",
    "platform_logo": 260,
    "product_family": 5,
    "slug": "n64",
    "updated_at": 1565136000,
    "url": "https://www.igdb.com/platforms/n64",
    "versions": [
      51,
      122
    ],
    "websites": [
      35
    ]
  },
  {
    "id": 5,
    "abbreviation": "Wii",
    "alternative_name": "Revolution",
    "category": 1,
    "created_at": 1297555200,
    "generation": 7,
    "name": "Wii",
    "platform_logo": 326,
    "product_family": 5,
    "slug": "wii",
    "updated_at": 1565136000,
    "url": "https://www.igdb.com/platforms/wii",
    "versions": [
      72,
      283
    ]
  },
  {
    "id": 6,
    "abbreviation": "PC",
    "alternative_name": "mswin",
    "category": 4,
    "created_at": 1297555200,
    "name": "PC (Microsoft Windows)",
    "platform_logo": 203,
    "slug": "win",
    "updated_at": 1470009600,
    "url": "https://www.igdb.com/platforms/win",
    "versions": [
      1,
      13,
      14,
      15,
      124
    ],
    "websites": [
      2
    ]
  },
  {
    "id": 7,
    "abbreviation": "PS1",
    "category": 1,
    "created_at": 1297555200,
    "generation": 5,
    "name": "PlayStation",
    "platform_logo": 278,
    "product_family": 1,
    "slug": "ps",
    "updated_at": 1392076800,
    "url": "https://www.igdb.com/platforms/ps",
    "versions": [
      57
    ]
  },
  {
    "id": 8,
    "abbreviation": "PS2",
    "alternative_name": "PS2",
    "category": 1,
    "created_at": 1297555200,
    "generation": 6,
    "name": "PlayStation 2",
    "platform_logo": 254,
    "product_family": 1,
    "slug": "ps2",
    "updated_at": 1414972800,
    "url": "https://www.igdb.com/platforms/ps2",
    "versions": [
      58,
      114
    ]
  },
  {
    "id": 9,
    "abbreviation": "PS3",
    "category": 1,
    "created_at": 1297555200,
    "generation": 7,
    "name": "PlayStation 3",
    "platform_logo": 79,
    "product_family": 1,
    "slug": "ps3",
    "updated_at": 1391558400,
    "url": "https://www.igdb.com/platforms/ps3",
    "versions": [
      4,
      5,
      6
    ],
    "websites": [
      3
    ]
  },
  {
    "id": 11,
    "abbreviation": "XBOX",
    "category": 1,
    "created_at": 1297555200,
    "generation": 6,
    "name": "Xbox",
    "platform_logo": 266,
    "product_family": 2,
    "slug": "xbox",
    "updated_at": 1392076800,
    "url": "https://www.igdb.com/platforms/xbox",
    "versions": [
      77
    ]
  },
  {
    "id": 12,
    "abbreviation": "X360",
    "alternative_name": "xbx360",
    "category": 1,
    "created_at": 1297555200,
    "generation": 7,
    "name": "Xbox 360",
    "platform_logo": 250,
    "product_family": 2,
    "slug": "xbox360",
    "summary": "Xbox 360 brings you a total games and entertainment experience. The largest library of games, including titles that get you right into the thick of it with Kinect. Plus, your whole family can watch HD movies, TV shows, live events, music, sports and more—across all your devices. Xbox 360 is the center of your games and entertainment universe.",
    "updated_at": 1392854400,
    "url": "https://www.igdb.com/platforms/xbox360",
    "versions": [
      2,
      3,
      83
    ],
    "websites": [
      4
    ]
  },
  {
    "id": 13,
    "abbreviation": "DOS",
    "category": 4,
    "created_at": 1297641600,
    "name": "PC DOS",
    "platform_logo": 38,
    "slug": "dos",
    "updated_at": 1392076800,
    "url": "https://www.igdb.com/platforms/dos",
    "versions": [
      56
    ]
  },
  {
    "id": 14,
    "abbreviation": "Mac",
    "alternative_name": "Mac OS",
    "category": 4,
    "created_at": 1297641600,
    "name": "Mac",
    "platform_logo": 100,
    "slug": "mac",
    "updated_at": 1394236800,
    "url": "https://www.igdb.com/platforms/mac",
    "versions": [
      45,
      141,
      142,
      143,
      144,
      145,
      146,
      147,
      148,
      149,
      150,
      151
    ],
    "websites": [
      5
    ]
  },
  {
    "id": 15,
    "abbreviation": "C64",
    "category": 6,
    "created_at": 1297814400,
    "name": "Commodore C64/128",
    "platform_logo": 300,
    "slug": "c64",
    "updated_at": 1468454400,
    "url": "https://www.igdb.com/platforms/c64",
    "versions": [
      36
    ]
  },
  {
    "id": 16,
    "abbreviation": "Amiga",
    "category": 6,
    "created_at": 1297814400,
    "name": "Amiga",
    "slug": "amiga",
    "updated_at": 1417392000,
    "url": "https://www.igdb.com/platforms/amiga",
    "versions": [
      19,
      109,
      110,
      111,
      112,
      113
    ]
  },
  {
    "id": 18,
    "abbreviation": "NES",
    "alternative_name": "NES",
    "category": 1,
    "created_at": 1297900800,
    "generation": 3,
    "name": "Nintendo Entertainment System (NES)",
    "platform_logo": 229,
    "product_family": 5,
    "slug": "nes",
    "updated_at": 1424044800,
    "url": "https://www.igdb.com/platforms/nes",
    "versions": [
      53,
      175
    ]
  },
  {
    "id": 19,
    "abbreviation": "SNES",
    "alternative_name": "SNES, Super Nintendo",
    "category": 1,
    "created_at": 1297900800,
    "generation": 4,
    "name": "Super Nintendo Entertainment System (SNES)",
    "platform_logo": 106,
    "product_family": 5,
    "slug": "snes--1",
    "updated_at": 1439164800,
    "url": "https://www.igdb.com/platforms/snes--1",
    "versions": [
      68,
      95,
      97,
      139,
      177
    ]
  },
  {
    "id": 20,
    "abbreviation": "NDS",
    "alternative_name": "DS",
    "category": 5,
    "created_at": 1297900800,
    "generation": 7,
    "name": "Nintendo DS",
    "platform_logo": 245,
    "product_family": 5,
    "slug": "nds",
    "updated_at": 1502668800,
    "url": "https://www.igdb.com/platforms/nds",
    "versions": [
      52,
      190,
      191,
      192
    ]
  },
  {
    "id": 21,
    "abbreviation": "NGC",
    "alternative_name": "Dolphin",
    "category": 1,
    "created_at": 1297987200,
    "generation": 6,
    "name": "Nintendo GameCube",
    "platform_logo": 262,
    "slug": "ngc",
    "updated_at": 1565136000,
    "url": "https://www.igdb.com/platforms/ngc",
    "versions": [
      54,
      121,
      125
    ]
  },
  {
    "id": 22,
    "abbreviation": "GBC",
    "category": 5,
    "created_at": 1300147200,
    "generation": 5,
    "name": "Game Boy Color",
    "platform_logo": 273,
    "slug": "gbc",
    "updated_at": 1392076800,
    "url": "https://www.igdb.com/platforms/gbc",
    "versions": [
      41
    ]
  },
  {
    "id": 23,
    "abbreviation": "DC",
    "category": 1,
    "created_at": 1300147200,
    "generation": 6,
    "name": "Dreamcast",
    "platform_logo": 270,
    "slug": "dc",
    "updated_at": 1392076800,
    "url": "https://www.igdb.com/platforms/dc",
    "versions": [
      16
    ]
  },
  {
    "id": 24,
    "abbreviation": "GBA",
    "alternative_name": "GBA",
    "category": 5,
    "created_at": 1300147200,
    "generation": 6,
    "name": "Game Boy Advance",
    "platform_logo": 255,
    "product_family": 5,
    "slug": "gba",
    "updated_at": 1471478400,
    "url": "https://www.igdb.com/platforms/gba",
    "versions": [
      40,
      193,
      194
    ]
  },
  {
    "id": 25,
    "abbreviation": "ACPC",
    "alternative_name": "Colour Personal Computer",
    "category": 6,
    "created_at": 1300147200,
    "name": "Amstrad CPC",
    "platform_logo": 114,
    "slug": "acpc",
    "updated_at": 1468454400,
    "url": "https://www.igdb.com/platforms/acpc",
    "versions": [
      20
    ]
  },
  {
    "id": 26,
    "abbreviation": "ZXS",
    "category": 6,
    "created_at": 1300147200,
    "name": "ZX Spectrum",
    "slug": "zxs",
    "updated_at": 1468540800,
    "url": "https://www.igdb.com/platforms/zxs",
    "versions": [
      79
    ]
  },
  {
    "id": 27,
    "abbreviation": "MSX",
    "category": 6,
    "created_at": 1300147200,
    "name": "MSX",
    "platform_logo": 307,
    "slug": "msx",
    "updated_at": 1468540800,
    "url": "https://www.igdb.com/platforms/msx",
    "versions": [
      47
    ]
  },
  {
    "id": 29,
    "abbreviation": "Genesis",
    "alternative_name": "Sega Genesis",
    "category": 1,
    "created_at": 1300924800,
    "generation": 4,
    "name": "Sega Mega Drive/Genesis",
    "platform_logo": 293,
    "product_family": 3,
    "slug": "smd",
    "updated_at": 1400112000,
    "url": "https://www.igdb.com/platforms/smd",
    "versions": [
      64
    ]
  },
  {
    "id": 30,
    "abbreviation": "Sega32",
    "category": 1,
    "created_at": 1300924800,
    "generation": 4,
    "name": "Sega 32X",
    "platform_logo": 279,
    "product_family": 3,
    "slug": "sega32",
    "updated_at": 1555977600,
    "url": "https://www.igdb.com/platforms/sega32",
    "versions": [
      61
    ]
  },
  {
    "id": 32,
    "abbreviation": "Saturn",
    "alternative_name": "JVC Saturn, Hi-Saturn, Samsung Saturn, V-Saturn",
    "category": 1,
    "created_at": 1301961600,
    "generation": 5,
    "name": "Sega Saturn",
    "platform_logo": 49,
    "product_family": 3,
    "slug": "saturn",
    "updated_at": 1540771200,
    "url": "https://www.igdb.com/platforms/saturn",
    "versions": [
      65
    ],
    "websites": [
      6
    ]
  },
  {
    "id": 33,
    "abbreviation": "Game Boy",
    "category": 5,
    "created_at": 1302307200,
    "generation": 4,
    "name": "Game Boy",
    "platform_logo": 274,
    "product_family": 5,
    "slug": "gb",
    "updated_at": 1475625600,
    "url": "https://www.igdb.com/platforms/gb",
    "versions": [
      39,
      181,
      182
    ]
  },
  {
    "id": 34,
    "abbreviation": "Android",
    "alternative_name": "Infocusa3",
    "category": 4,
    "created_at": 1302566400,
    "name": "Android",
    "platform_logo": 195,
    "slug": "android",
    "updated_at": 1556150400,
    "url": "https://www.igdb.com/platforms/android",
    "versions": [
      7,
      8,
      9,
      10,
      11,
      12,
      236,
      237,
      238,
      239
    ],
    "websites": [
      7
    ]
  },
  {
    "id": 35,
    "abbreviation": "Game Gear",
    "category": 5,
    "created_at": 1303862400,
    "generation": 4,
    "name": "Sega Game Gear",
    "platform_logo": 287,
    "product_family": 3,
    "slug": "gamegear",
    "updated_at": 1469404800,
    "url": "https://www.igdb.com/platforms/gamegear",
    "versions": [
      62
    ]
  },
  {
    "id": 36,
    "abbreviation": "xla",
    "category": 3,
    "created_at": 1317600000,
    "name": "Xbox Live Arcade",
    "platform_logo": 19,
    "product_family": 2,
    "slug": "xla",
    "updated_at": 1391904000,
    "url": "https://www.igdb.com/platforms/xla",
    "versions": [
      31
    ],
    "websites": [
      8
    ]
  },
  {
    "id": 37,
    "abbreviation": "3DS",
    "alternative_name": "3DS",
    "category": 5,
    "created_at": 1317600000,
    "generation": 8,
    "name": "Nintendo 3DS",
    "platform_logo": 240,
    "product_family": 5,
    "slug": "3ds",
    "updated_at": 1473984000,
    "url": "https://www.igdb.com/platforms/3ds",
    "versions": [
      50
    ],
    "websites": [
      9
    ]
  },
  {
    "id": 38,
    "abbreviation": "PSP",
    "alternative_name": "PSP",
    "category": 5,
    "created_at": 1317600000,
    "generation": 7,
    "name": "PlayStation Portable",
    "platform_logo": 214,
    "product_family": 1,
    "slug": "psp",
    "updated_at": 1552780800,
    "url": "https://www.igdb.com/platforms/psp",
    "versions": [
      59,
      276,
      277,
      278,
      279
    ]
  },
  {
    "id": 39,
    "abbreviation": "iOS",
    "category": 4,
    "created_at": 1317686400,
    "name": "iOS",
    "platform_logo": 248,
    "slug": "ios",
    "updated_at": 1391644800,
    "url": "https://www.igdb.com/platforms/ios",
    "versions": [
      43
    ]
  },
  {
    "id": 41,
    "abbreviation": "WiiU",
    "category": 1,
    "created_at": 1317686400,
    "generation": 8,
    "name": "Wii U",
    "platform_logo": 239,
    "product_family": 5,
    "slug": "wiiu",
    "updated_at": 1489968000,
    "url": "https://www.igdb.com/platforms/wiiu",
    "versions": [
      73
    ],
    "websites": [
      10
    ]
  },
  {
    "id": 42,
    "abbreviation": "NGage",
    "category": 5,
    "created_at": 1317686400,
    "generation": 6,
    "name": "N-Gage",
    "platform_logo": 258,
    "slug": "ngage",
    "updated_at": 1392076800,
    "url": "https://www.igdb.com/platforms/ngage",
    "versions": [
      49,
      118
    ]
  },
  {
    "id": 44,
    "abbreviation": "zod",
    "category": 5,
    "created_at": 1317686400,
    "name": "Tapwave Zodiac",
    "platform_logo": 46,
    "slug": "zod",
    "updated_at": 1392076800,
    "url": "https://www.igdb.com/platforms/zod",
    "versions": [
      69
    ]
  },
  {
    "id": 45,
    "abbreviation": "psn",
    "alternative_name": "PSN",
    "category": 3,
    "created_at": 1318118400,
    "name": "PlayStation Network",
    "platform_logo": 321,
    "product_family": 1,
    "slug": "psn",
    "updated_at": 1391904000,
    "url": "https://www.igdb.com/platforms/psn",
    "versions": [
      32
    ]
  },
  {
    "id": 46,
    "abbreviation": "Vita",
    "alternative_name": "PS Vita",
    "category": 5,
    "created_at": 1321660800,
    "generation": 8,
    "name": "PlayStation Vita",
    "platform_logo": 232,
    "product_family": 1,
    "slug": "psvita",
    "updated_at": 1552780800,
    "url": "https://www.igdb.com/platforms/psvita",
    "versions": [
      60,
      274,
      275
    ],
    "websites": [
      34
    ]
  },
  {
    "id": 47,
    "abbreviation": "VC",
    "category": 3,
    "created_at": 1326240000,
    "name": "Virtual Console (Nintendo)",
    "platform_logo": 202,
    "product_family": 5,
    "slug": "vc",
    "updated_at": 1514678400,
    "url": "https://www.igdb.com/platforms/vc",
    "versions": [
      71
    ]
  },
  {
    "id": 48,
    "abbreviation": "PS4",
    "alternative_name": "PS4",
    "category": 1,
    "created_at": 1326499200,
    "generation": 8,
    "name": "PlayStation 4",
    "platform_logo": 231,
    "product_family": 1,
    "slug": "ps4--1",
    "summary": "The PlayStation 4 system opens the door to an incredible journey through immersive new gaming worlds and a deeply connected gaming community. PS4 puts gamers first with an astounding launch line-up and over 180 games in development. Play amazing top-tier blockbusters and innovative indie hits on PS4. Developer inspired, gamer focused.",
    "updated_at": 1433116800,
    "url": "https://www.igdb.com/platforms/ps4--1",
    "versions": [
      17,
      178,
      179
    ],
    "websites": [
      11
    ]
  },
  {
    "id": 49,
    "abbreviation": "XONE",
    "alternative_name": "Xbone",
    "category": 1,
    "created_at": 1326499200,
    "generation": 8,
    "name": "Xbox One",
    "product_family": 2,
    "slug": "xboxone",
    "summary": "Welcome to a new generation of games and entertainment. Where games push the boundaries of realism. And television obeys your every command. Where listening to music while playing a game is a snap. And you can jump from TV to movies to music to a game in an instant. Where your experience is custom tailored to you. And the entertainment you love is all in one place. Welcome to the all-in-one, Xbox One",
    "updated_at": 1429920000,
    "url": "https://www.igdb.com/platforms/xboxone",
    "versions": [
      78,
      180,
      185,
      188
    ],
    "websites": [
      12
    ]
  },
  {
    "id": 50,
    "abbreviation": "3DO",
    "category": 1,
    "created_at": 1326758400,
    "generation": 5,
    "name": "3DO Interactive Multiplayer",
    "platform_logo": 282,
    "slug": "3do",
    "updated_at": 1392076800,
    "url": "https://www.igdb.com/platforms/3do",
    "versions": [
      18
    ]
  },
  {
    "id": 51,
    "abbreviation": "fds",
    "alternative_name": "Famicom Disk System",
    "category": 1,
    "created_at": 1339200000,
    "generation": 3,
    "name": "Family Computer Disk System",
    "platform_logo": 299,
    "product_family": 5,
    "slug": "fds",
    "updated_at": 1540771200,
    "url": "https://www.igdb.com/platforms/fds",
    "versions": [
      38
    ]
  },
  {
    "id": 52,
    "abbreviation": "Arcade",
    "created_at": 1339977600,
    "name": "Arcade",
    "slug": "arcade",
    "updated_at": 1391817600,
    "url": "https://www.igdb.com/platforms/arcade",
    "versions": [
      22
    ]
  },
  {
    "id": 53,
    "abbreviation": "MSX2",
    "category": 6,
    "created_at": 1340064000,
    "name": "MSX2",
    "platform_logo": 308,
    "slug": "msx2",
    "updated_at": 1468540800,
    "url": "https://www.igdb.com/platforms/msx2",
    "versions": [
      48
    ]
  },
  {
    "id": 55,
    "abbreviation": "Mobile",
    "created_at": 1340668800,
    "name": "Mobile",
    "slug": "mobile",
    "updated_at": 1391817600,
    "url": "https://www.igdb.com/platforms/mobile",
    "versions": [
      46
    ]
  },
  {
    "id": 56,
    "abbreviation": "WiiWare",
    "created_at": 1341014400,
    "name": "WiiWare",
    "slug": "wiiware",
    "updated_at": 1391817600,
    "url": "https://www.igdb.com/platforms/wiiware",
    "versions": [
      74
    ]
  },
  {
    "id": 57,
    "abbreviation": "WonderSwan",
    "category": 5,
    "created_at": 1342224000,
    "generation": 5,
    "name": "WonderSwan",
    "platform_logo": 263,
    "slug": "wonderswan",
    "updated_at": 1392076800,
    "url": "https://www.igdb.com/platforms/wonderswan",
    "versions": [
      76,
      84,
      117
    ]
  },
  {
    "id": 58,
    "abbreviation": "SFAM",
    "alternative_name": "SFC",
    "category": 1,
    "created_at": 1351209600,
    "generation": 4,
    "name": "Super Famicom",
    "platform_logo": 271,
    "product_family": 5,
    "slug": "sfam",
    "updated_at": 1399766400,
    "url": "https://www.igdb.com/platforms/sfam",
    "versions": [
      67,
      98
    ]
  },
  {
    "id": 59,
    "abbreviation": "Atari2600",
    "category": 1,
    "created_at": 1372204800,
    "generation": 2,
    "name": "Atari 2600",
    "platform_logo": 309,
    "slug": "atari2600",
    "updated_at": 1392076800,
    "url": "https://www.igdb.com/platforms/atari2600",
    "versions": [
      24
    ]
  },
  {
    "id": 60,
    "abbreviation": "Atari7800",
    "alternative_name": "Atari 7800 ProSystem",
    "category": 1,
    "created_at": 1372204800,
    "generation": 3,
    "name": "Atari 7800",
    "platform_logo": 303,
    "slug": "atari7800",
    "updated_at": 1392076800,
    "url": "https://www.igdb.com/platforms/atari7800",
    "versions": [
      26
    ]
  },
  {
    "id": 61,
    "abbreviation": "Lynx",
    "category": 5,
    "created_at": 1372204800,
    "generation": 4,
    "name": "Atari Lynx",
    "platform_logo": 290,
    "slug": "lynx",
    "updated_at": 1392076800,
    "url": "https://www.igdb.com/platforms/lynx",
    "versions": [
      29,
      189
    ]
  },
  {
    "id": 62,
    "abbreviation": "Jaguar",
    "category": 1,
    "created_at": 1372204800,
    "generation": 5,
    "name": "Atari Jaguar",
    "platform_logo": 286,
    "slug": "jaguar",
    "updated_at": 1392076800,
    "url": "https://www.igdb.com/platforms/jaguar",
    "versions": [
      28
    ]
  },
  {
    "id": 63,

In [2]:
data = response.json()
len(data)

163

In [5]:
platforms = pd.DataFrame(data)
platforms.head()

,id,abbreviation,alternative_name,category,created_at,name,platform_logo,product_family,slug,summary,updated_at,url,versions,websites,generation
0,3,Linux,GNU/Linux,4.0,1297555200,Linux,33.0,4.0,linux,Linux is a free and open-source (FOSS/FLOSS) O...,1392940800,https://www.igdb.com/platforms/linux,[44],[1],NaN
1,4,N64,N64,1.0,1297555200,Nintendo 64,260.0,5.0,n64,NaN,1565136000,https://www.igdb.com/platforms/n64,"[51, 122]",[35],5.0
2,5,Wii,Revolution,1.0,1297555200,Wii,326.0,5.0,wii,NaN,1565136000,https://www.igdb.com/platforms/wii,"[72, 283]",NaN,7.0
3,6,PC,mswin,4.0,1297555200,PC (Microsoft Windows),203.0,NaN,win,NaN,1470009600,https://www.igdb.com/platforms/win,"[1, 13, 14, 15, 124]",[2],NaN
4,7,PS1,NaN,1.0,1297555200,PlayStation,278.0,1.0,ps,NaN,1392076800,https://www.igdb.com/platforms/ps,[57],NaN,5.0

In [6]:
platforms.to_csv('../datasets/platforms.csv')

## Game Mode

In [147]:
url = "https://api-v3.igdb.com/game_modes"

payload = "fields *;\nlimit 500;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [148]:
data = response.json()
len(data)

5

In [149]:
game_mode = pd.DataFrame(data)
game_mode.head()

,id,created_at,name,slug,updated_at,url
0,3,1298937600,Co-operative,co-operative,1323216000,https://www.igdb.com/game_modes/co-operative
1,1,1298937600,Single player,single-player,1323216000,https://www.igdb.com/game_modes/single-player
2,2,1298937600,Multiplayer,multiplayer,1323216000,https://www.igdb.com/game_modes/multiplayer
3,5,1298937600,Massively Multiplayer Online (MMO),massively-multiplayer-online-mmo,1323216000,https://www.igdb.com/game_modes/massively-mult...
4,4,1298937600,Split screen,split-screen,1323216000,https://www.igdb.com/game_modes/split-screen

In [150]:
game_mode.to_csv('../datasets/game_mode.csv')

## Time to Beat

In [170]:
url = "https://api-v3.igdb.com/time_to_beats"

payload = "fields *;\nlimit 500;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [171]:
data = response.json()
len(data)

500

In [172]:
time_beat = pd.DataFrame(data)
time_beat.head()

        id     game  normally  completely    hastly
0        8   6519.0   15720.0         NaN       NaN
1     1833   5082.0  234000.0         NaN       NaN
2    11397      NaN  217820.0    468000.0  108000.0
3     1172  14872.0     900.0         NaN       NaN
4     1282  13138.0   10800.0     10800.0       NaN
..     ...      ...       ...         ...       ...
495    926   7543.0   21600.0     54000.0       NaN
496     29      NaN       0.0     17460.0       0.0
497      5   6279.0   22320.0         NaN       NaN
498    515   8114.0    7200.0      8760.0       NaN
499   1379   1000.0       NaN     90000.0       NaN

[500 rows x 5 columns]

## Time to Beat Offset 500

In [173]:
url = "https://api-v3.igdb.com/time_to_beats"

payload = "fields *;\nlimit 500;\noffset 500;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [174]:
data = response.json()
len(data)

500

In [176]:
time_beat_2 = pd.DataFrame(data)
time_beat_2.head()

       id     game  normally  completely  hastly
0    1420   1990.0   14400.0         NaN     NaN
1    1428   1958.0       NaN     43200.0     NaN
2    1461   7057.0       NaN    180000.0     NaN
3     575   1443.0   76080.0    144000.0     NaN
4     535    431.0   34200.0         NaN     NaN
..    ...      ...       ...         ...     ...
495  1643  18011.0    8880.0         NaN     NaN
496  1649    396.0   13740.0         NaN     NaN
497  1654    419.0       NaN     52800.0     NaN
498  1064   3077.0       NaN    158400.0     NaN
499  1079   2287.0       NaN    720000.0     NaN

[500 rows x 5 columns]

## Time to Beat Offset 1000

In [177]:
url = "https://api-v3.igdb.com/time_to_beats"

payload = "fields *;\nlimit 500;\noffset 1000;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [178]:
data = response.json()
len(data)

500

In [179]:
time_beat_3 = pd.DataFrame(data)
time_beat_3.head()

     id  completely    game  normally  hastly
0  1084    144000.0  1318.0   90000.0     NaN
1  1090         NaN   544.0   25200.0     NaN
2  1179         NaN  1063.0       NaN     NaN
3  1185         NaN  9630.0  216000.0     NaN
4  1705         NaN  5062.0   61200.0     NaN

## Time to Beat Offset 1500

In [180]:
url = "https://api-v3.igdb.com/time_to_beats"

payload = "fields *;\nlimit 500;\noffset 1500;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [181]:
data = response.json()
len(data)

500

In [182]:
time_beat_4 = pd.DataFrame(data)
time_beat_4.head()

     id     game  normally  completely  hastly
0  1586   9727.0   36600.0         NaN     NaN
1  1590  22439.0  432000.0    648000.0     NaN
2  1858   7477.0  258300.0         NaN     NaN
3  1955  12751.0   18000.0     28800.0     NaN
4   602   2591.0    3600.0         NaN     NaN

## Time to Beat Offset 2000

In [184]:
url = "https://api-v3.igdb.com/time_to_beats"

payload = "fields *;\nlimit 500;\noffset 2000;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [185]:
data = response.json()
len(data)

344

In [186]:
time_beat_5 = pd.DataFrame(data)
time_beat_5.head()

     id     game  normally  completely  hastly
0  2327  13199.0  100800.0         NaN     NaN
1   298     75.0   96180.0    146160.0     NaN
2   299   2064.0   10800.0     10800.0     NaN
3  2102    427.0  121140.0         NaN     NaN
4  2109  11056.0   43260.0     59880.0     NaN

### Merge Time to Beat DataFrames

In [188]:
time_beat_final = pd.concat([time_beat,time_beat_2,time_beat_3,time_beat_4,time_beat_5])
time_beat_final.head()

/Users/tringuyen/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

   completely     game    hastly     id  normally
0         NaN   6519.0       NaN      8   15720.0
1         NaN   5082.0       NaN   1833  234000.0
2    468000.0      NaN  108000.0  11397  217820.0
3         NaN  14872.0       NaN   1172     900.0
4     10800.0  13138.0       NaN   1282   10800.0

In [189]:
time_beat_final.to_csv('../datasets/time_beat.csv')

## Game Engines

In [190]:
url = "https://api-v3.igdb.com/game_engines"

payload = "fields *;\nlimit 500;\nwhere platforms = (48,49,130, 92);"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [191]:
data = response.json()
len(data)

32

In [192]:
game_engine = pd.DataFrame(data)
game_engine.head()

,id,companies,created_at,logo,name,platforms,slug,updated_at,url
0,695,[13169],1557360000,87.0,KEX,"[3, 6, 14, 49, 130]",kex,1557532800,https://www.igdb.com/game_engines/kex
1,686,[18808],1555027200,NaN,LSSDK,"[6, 48, 165]",lssdk,1555459200,https://www.igdb.com/game_engines/lssdk
2,421,[9728],1483056000,92.0,Amazon Lumberyard,"[6, 34, 39, 48, 49]",amazon-lumberyard,1572825600,https://www.igdb.com/game_engines/amazon-lumbe...
3,681,[2952],1554854400,85.0,KT Engine,"[6, 48, 49, 130]",kt-engine,1554854400,https://www.igdb.com/game_engines/kt-engine
4,186,[5025],1425427200,31.0,OEngine,"[6, 48, 49]",oengine,1425427200,https://www.igdb.com/game_engines/oengine

In [193]:
game_engine.to_csv('../datasets/game_engine.csv')

## Franchise

In [194]:
url = "https://api-v3.igdb.com/franchises"

payload = "fields *;\nlimit 500;\n"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [195]:
data = response.json()
len(data)

500

In [196]:
franchise = pd.DataFrame(data)
franchise.head()

,id,created_at,name,slug,updated_at,url,games
0,20,1322611200,Beneath a Steel Sky,beneath-a-steel-sky,1323216000,https://www.igdb.com/franchises/beneath-a-stee...,NaN
1,43,1359676800,Dungeons & Dragons,dungeons-dragons,1359676800,https://www.igdb.com/franchises/dungeons-dragons,"[5, 6, 81, 82, 83, 84, 214, 216, 674, 753, 832..."
2,61,1372550400,Spartacus,spartacus,1372550400,https://www.igdb.com/franchises/spartacus,[2326]
3,133,1381708800,Harry Potter,harry-potter,1381708800,https://www.igdb.com/franchises/harry-potter,"[341, 3011, 3149, 3150, 3941, 3942, 3943, 3944..."
4,237,1390521600,Shamu,shamu,1390521600,https://www.igdb.com/franchises/shamu,[4099]

## Franchise Offset 500

In [197]:
url = "https://api-v3.igdb.com/franchises"

payload = "fields *;\nlimit 500;\noffset 500;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [198]:
data = response.json()
len(data)

500

In [199]:
franchise_2 = pd.DataFrame(data)
franchise_2.head()

,id,created_at,games,name,slug,updated_at,url
0,45,1360454400,[1919],Deadpool,deadpool,1360454400,https://www.igdb.com/franchises/deadpool
1,52,1372118400,"[1282, 1283, 1287]",Fables and Fiends,fables-and-fiends,1372118400,https://www.igdb.com/franchises/fables-and-fiends
2,58,1372464000,"[2313, 3789, 4681, 7757, 8501, 12242, 12888, 1...",Asterix,asterix,1372464000,https://www.igdb.com/franchises/asterix
3,72,1373155200,"[2482, 13068]",The Godfather,the-godfather,1373155200,https://www.igdb.com/franchises/the-godfather
4,73,1373155200,"[2500, 14695, 14698, 63826]",Wizardry,wizardry,1373155200,https://www.igdb.com/franchises/wizardry

## Franchise Offset 1000

In [200]:
url = "https://api-v3.igdb.com/franchises"

payload = "fields *;\nlimit 500;\noffset 1000;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [201]:
data = response.json()
len(data)

500

In [202]:
franchise_3 = pd.DataFrame(data)
franchise_3.head()

,id,created_at,games,name,slug,updated_at,url
0,1311,1532304000,"[106040, 106041]",Aquanaut's Holiday,aquanauts-holiday,1532304000,https://www.igdb.com/franchises/aquanauts-holiday
1,821,1466726400,"[19765, 36730]",Berserk,berserk,1466726400,https://www.igdb.com/franchises/berserk
2,362,1393545600,[5470],11eyes,11eyes,1393545600,https://www.igdb.com/franchises/11eyes
3,372,1396310400,[5727],Antz,antz,1396310400,https://www.igdb.com/franchises/antz
4,414,1398297600,[6434],Herby,herby,1398297600,https://www.igdb.com/franchises/herby

## Franchise Offset 1500

In [203]:
url = "https://api-v3.igdb.com/franchises"

payload = "fields *;\nlimit 500;\noffset 1500;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [204]:
data = response.json()
len(data)

25

In [205]:
franchise_4 = pd.DataFrame(data)
franchise_4.head()

,id,created_at,games,name,slug,updated_at,url
0,1699,1578528000,[128068],Sword of the Stars,sword-of-the-stars,1578528000,https://www.igdb.com/franchises/sword-of-the-s...
1,1700,1578700800,NaN,towaga,towaga,1578700800,https://www.igdb.com/franchises/towaga
2,1701,1578960000,NaN,Surviving,surviving,1578960000,https://www.igdb.com/franchises/surviving
3,1702,1578960000,NaN,Control,control,1578960000,https://www.igdb.com/franchises/control
4,1703,1579478400,NaN,Ядерный титбит,iadiernyi-titbit,1579478400,https://www.igdb.com/franchises/iadiernyi-titbit

## Merge Franchise DataFrames

In [207]:
franchise_final = pd.concat([franchise,franchise_2,franchise_3,franchise_4])
franchise_final.head()

/Users/tringuyen/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,created_at,games,id,name,slug,updated_at,url
0,1322611200,NaN,20,Beneath a Steel Sky,beneath-a-steel-sky,1323216000,https://www.igdb.com/franchises/beneath-a-stee...
1,1359676800,"[5, 6, 81, 82, 83, 84, 214, 216, 674, 753, 832...",43,Dungeons & Dragons,dungeons-dragons,1359676800,https://www.igdb.com/franchises/dungeons-dragons
2,1372550400,[2326],61,Spartacus,spartacus,1372550400,https://www.igdb.com/franchises/spartacus
3,1381708800,"[341, 3011, 3149, 3150, 3941, 3942, 3943, 3944...",133,Harry Potter,harry-potter,1381708800,https://www.igdb.com/franchises/harry-potter
4,1390521600,[4099],237,Shamu,shamu,1390521600,https://www.igdb.com/franchises/shamu

In [208]:
franchise_final.to_csv('../datasets/franchise.csv')

## Character

In [209]:
url = "https://api-v3.igdb.com/characters"

payload = "fields *;\nlimit 500;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [210]:
data = response.json()
len(data)

500

In [211]:
character = pd.DataFrame(data)
character.head()

,id,created_at,games,name,people,slug,updated_at,url,akas,description,gender,mug_shot,species
0,12782,1551398400,[10232],Delores,[185588],delores,1551398400,https://www.igdb.com/characters/delores,NaN,NaN,NaN,NaN,NaN
1,12690,1547337600,[14389],Chad Kensington,[30938],chad-kensington,1547337600,https://www.igdb.com/characters/chad-kensington,NaN,NaN,NaN,NaN,NaN
2,11079,1510099200,[207],Ludger Brink,[154231],ludger-brink,1510099200,https://www.igdb.com/characters/ludger-brink,NaN,NaN,NaN,NaN,NaN
3,14296,1559260800,[101211],Authority Elite,[206849],authority-elite,1559260800,https://www.igdb.com/characters/authority-elite,NaN,NaN,NaN,NaN,NaN
4,11563,1520812800,[68461],Oda Nobunaga,[162315],oda-nobunaga,1520812800,https://www.igdb.com/characters/oda-nobunaga,NaN,NaN,NaN,NaN,NaN

## Character Offset 500

In [212]:
url = "https://api-v3.igdb.com/characters"

payload = "fields *;\nlimit 500;\noffset 500;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [213]:
data = response.json()
len(data)

500

In [214]:
character_2 = pd.DataFrame(data)
character_2.head()

,id,created_at,games,name,people,slug,updated_at,url,gender,mug_shot,species,akas,description
0,2921,1418428800,[2583],Kid Buu,"[45760, 45777]",kid-buu,1418428800,https://www.igdb.com/characters/kid-buu,NaN,NaN,NaN,NaN,NaN
1,2942,1418428800,"[4846, 5540, 7518, 7859, 11367, 13232]",Bartender,"[456, 46048, 46053, 70518, 115192, 133102, 143...",bartender,1476662400,https://www.igdb.com/characters/bartender,NaN,NaN,NaN,NaN,NaN
2,8306,1462924800,NaN,Maiden,[7081],maiden,1462924800,https://www.igdb.com/characters/maiden,NaN,NaN,NaN,NaN,NaN
3,14326,1559260800,[24262],King Orde,[207008],king-orde,1559260800,https://www.igdb.com/characters/king-orde,NaN,NaN,NaN,NaN,NaN
4,8974,1464998400,NaN,Twisted Fate,[46045],twisted-fate,1472601600,https://www.igdb.com/characters/twisted-fate,0.0,3665.0,5.0,NaN,NaN

## Character Offset 1000

In [215]:
url = "https://api-v3.igdb.com/characters"

payload = "fields *;\nlimit 500;\noffset 1000;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [216]:
data = response.json()
len(data)

500

In [217]:
character_3 = pd.DataFrame(data)
character_3.head()

,id,created_at,games,name,people,slug,updated_at,url,gender,mug_shot,species,akas,description
0,4634,1431993600,[897],Magnus Armstrong,[79292],magnus-armstrong,1431993600,https://www.igdb.com/characters/magnus-armstrong,NaN,NaN,NaN,NaN,NaN
1,4669,1431993600,[786],Jen McQuarrie,[79689],jen-mcquarrie,1431993600,https://www.igdb.com/characters/jen-mcquarrie,NaN,NaN,NaN,NaN,NaN
2,9981,1475020800,[2444],Duram,[138443],duram,1475020800,https://www.igdb.com/characters/duram,NaN,NaN,NaN,NaN,NaN
3,8064,1462579200,"[1221, 1224, 2933]",Chip,"[10564, 31745]",chip,1555977600,https://www.igdb.com/characters/chip,NaN,NaN,NaN,NaN,NaN
4,5034,1432944000,"[5845, 27283]",Soldier C,"[20749, 40322, 201251]",soldier-c,1555977600,https://www.igdb.com/characters/soldier-c,NaN,NaN,NaN,NaN,NaN

## Character Offset 1500

In [218]:
url = "https://api-v3.igdb.com/characters"

payload = "fields *;\nlimit 500;\noffset 1500;"
headers = {
    'cookie': "__cfduid=d90176446fc57ac62790618a36aff52581583171630",
    'user-key': "3478fe97fbb6ea8c83bd8d68d22b1770",
    'content-type': "application/json"
    }

response = requests.request("GET", url, data=payload, headers=headers)

In [219]:
data = response.json()
len(data)

500

In [220]:
character_4 = pd.DataFrame(data)
character_4.head()

,id,created_at,name,people,slug,updated_at,url,games,akas,gender,mug_shot,species,description
0,11210,1517011200,Hobbits,[115085],hobbits,1517011200,https://www.igdb.com/characters/hobbits,NaN,NaN,NaN,NaN,NaN,NaN
1,11212,1517011200,Elena Shapiro,[115085],elena-shapiro,1517011200,https://www.igdb.com/characters/elena-shapiro,NaN,NaN,NaN,NaN,NaN,NaN
2,11218,1517011200,Tutorial Unit,[144485],tutorial-unit,1517011200,https://www.igdb.com/characters/tutorial-unit,NaN,NaN,NaN,NaN,NaN,NaN
3,1620,1410652800,Wang Ziyang,[23430],wang-ziyang,1417219200,https://www.igdb.com/characters/wang-ziyang,[1342],NaN,NaN,NaN,NaN,NaN
4,1623,1410652800,Helen Dawkins,[23433],helen-dawkins,1417219200,https://www.igdb.com/characters/helen-dawkins,[1342],NaN,NaN,NaN,NaN,NaN